/*.base-main {
    padding-top:12rem;
    @media screen and (max-width:1400px) {
        padding-top:8rem;
    }
}*/
.content-area {
    &[data-bg="sky"] {
        background-color:var(--skyblue);
        padding-top:12rem;
        @media screen and (max-width:1023px) {
            padding-top:6rem;
        }
    }
}
.sub-content {
    position: relative;
    z-index: 0;
    max-width:176rem;
    margin:0 auto;
    padding:0 8rem 15.6rem;
    &[data-size="full"] {
        max-width:100%;
        padding:0;
    }
    &.pt-80 {
        padding-top:8rem;
        @media screen and (max-width:1023px) {
            padding-top:4rem;
        }
    }
    /*@media screen and (max-width:1400px) {
        padding:0 4rem 15.6rem;
    }*/
    @media screen and (max-width:1023px) {
        padding:0 2rem 10rem;
    }
}
.sub-title {
    width:100%;
    height:38.4rem;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    overflow:hidden;
    img {
        display:block;
        object-fit:cover;
        width:100%;
        height:100%;
        max-width:none;

        animation-name:imgZoom;
        animation-duration:5s;
        animation-iteration-count:1;
        animation-timing-function:ease-in;
        animation-fill-mode:forwards;
    }
    h2 {
        position:absolute;
        width:100%;
        left:50%;
        transform:translateX(-50%);
        bottom:13.2rem;
        max-width:168rem;
        padding:0 4rem;
        font-size:5rem;
        font-weight:600;
        color:#fff;
        z-index:1;
    }

    &[data-bg="sub2-1"] {
        background:#251319;
    }
    &[data-bg="sub7-1"] {
        background:var(--navy);
    }

    @media screen and (max-width:1023px) {
        height:23rem;
        h2 {
            font-size:3rem;
            bottom:8rem;
        }
    }
}
@keyframes imgZoom {
    0% {
        scale:1.2;
    }
    100% {
        scale:1;
    }
}
.scrollbar-4 {
    -webkit-overflow-scrolling:touch;
    &::-webkit-scrollbar {
        height:0.4rem;
        width:0.4rem;
    }
    &::-webkit-scrollbar-track {
        border-radius:999em;
        background-color:transparent;
    }
    &::-webkit-scrollbar-thumb {
        width:0.4rem;
        border-radius:999em;
        background-color:#D9D9D9;
    }
}

.sub-depth-nav {
    overflow-x:auto;
    overflow-y:hidden;
    -webkit-overflow-scrolling:touch;
    margin-bottom:8rem;
    position:sticky;
    top:0;
    /*border-bottom:1px solid #ccc;*/
    background-color:var(--white);
    z-index:2;
    &::before {
        content:'';
        position:absolute;
        left:0;
        right:0;
        bottom:0;
        height:1px;
        background-color:var(--form_line);

    }
    @media screen and (max-width:1023px) {
        margin-bottom:2.8rem;
    }
    .sub-depth-nav-list {
        display:flex;
        max-width:160rem;
        margin:0 auto;
        &[data-type="auto"] {
            .sub-depth-nav-item {
                flex:none;
                padding:0 4rem;
                 /*@media screen and (max-width:1400px) {
                    padding:0 3rem;
                }*/
                @media screen and (max-width:1023px) {
                    padding:0 1.5rem;
                }
            }
        }
    }
    .sub-depth-nav-item {
        flex:1;
        white-space:nowrap;
        padding:0 1.5rem;
        position:relative;
        display:flex;
        align-items:center;
        justify-content:center;
        height:8rem;
        font-size:2.4rem;
        font-weight:500;
        color:var(--gray_800);
        &::after {
            content:'';
            position:absolute;
            height:1px;
            bottom:0;
            left:0;
            right:0;
            background-color:var(--form_line);
        }
        &[data-state="selected"] {
            color:var(--navy);
            font-weight:600;
            &::after {
                content:'';
                position:absolute;
                height:0.2rem;
                bottom:0;
                left:0;
                right:0;
                background-color:var(--navy);
            }
        }
        /*@media screen and (max-width:1600px) {
            height:6.8rem;
            font-size:2rem;
        }*/
       
        @media screen and (max-width:1023px) {
            height:5.2rem;
            font-size:1.6rem;
        }
    }
}