.award-box {
    padding:6rem 2rem;
    margin-top:4rem;
    opacity:0;
    transform:translateY(10rem);
    transition:all 0.75s ease;
    .award-year{
        scale:0.2;
        transition-delay:0.75s;
        transition:all .3s ease-in;
    }

    ~ .award-box {
        margin-top:6rem;
    }
    /* &:first-child {
        opacity:1 !important;
        transform:translateY(0) !important;
        .award-year {
            scale:1 !important;
            transition:none !important;
        }
    } */
    &[data-state="view"] {
        opacity:1;
        transform:translateY(0);
        transition:all 0.75s ease;

        .award-year{
            scale:1;
            transition-delay:2.75s;
            transition:all .3s ease-in;
        }
    }

    &[data-color="navy"] {
        background-color:#F9FCFF;
        .award-year {
            background-color:var(--navy);
        }
    }
    &[data-color="orange"] {
        background-color:#FFFBF9;
        .award-year {
            background-color:var(--orange);
        }
    }
    @media screen and (max-width:1023px) {
        padding:3rem 2rem;
        margin-top:2rem;
        ~ .award-box {
            margin-top:3rem;
        }
    }
}
.award-content {
    display:flex;
    align-items:center;
    gap:16rem;
    max-width:113rem;
    margin:0 auto;
    @media screen and (max-width:1023px) {
        flex-direction:column;
        gap:2.8rem;
    }
}
.award-year {
    width:19rem;
    aspect-ratio:1/1;
    border-radius:999em;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:.8rem;
    font-size:3.2rem;
    color:var(--white);
    line-height:4.8rem;
    font-weight:600;
    @media screen and (max-width:1023px) {
        width:10rem;
        font-size:2rem;
        line-height:2.8rem;
    }
}
.mini-logo {
    aspect-ratio:53/39;
    display:block;
    width:5.3rem;
    background:url("../images/common/mini-logo.svg") no-repeat 50% 50% /contain;
    @media screen and (max-width:1023px) {
        width:2.4rem;
    }
}
.award-list {
    flex:1;
    display:flex;
    flex-direction:column;
    gap:.8rem;
    .award-list-item {
        font-size:2.4rem;
        line-height:3.2rem;
        color:var(--black);
        font-weight:500;
        @media screen and (max-width:1023px) {
            font-size:1.4rem;
            line-height:2rem;
        }
    }
    .magazine-name {
        color:var(--gray_800);
    }
}

[data-brand="BI"] {
    .sub-depth-nav {
        margin-bottom:0;
    }
    .bi-item {
        width:100%;
    }
    .sticky-timeline {
        margin-top:-100dvh;
        width:100%;
    }
    .sticky-wrapper {
        position:sticky;
        width:100%;
        min-height:100dvh;
    }
    
    [data-scroll-callback="brand_BI_1"] {
        .sticky-wrapper {
            overflow: hidden;
            top:0;
            background:url(../images/BI/BI_1_bg.jpg) no-repeat 50% 50% / cover;
        }
        .sticky-timeline {
            height:200dvh;
        }
        .sticky-item {
            position:absolute;
            width:100%;
            height:100%;
            z-index:1;
            display:flex;
            justify-content:center;
            align-items:center;

            .sticky-group {
                width:100%;
                height:100%;
                display:flex;
                max-width:100%;
                justify-content:center;
                align-items:center;
                gap:32rem;
                /* transition:all 2.7s ease; */
            }
            .brand-BI-head {
                position:relative;
                z-index:1;
                width:47rem;
                display:flex;
                gap:3.7rem;
                flex-direction:column;
                align-items:flex-start;
               

                .brand-BI-head-tit {
                    position: relative;
                    font-size:4rem;
                    font-weight:600;
                    color:#fff;
                    line-height:1.3;

                }
                .brand-BI-head-txt {
                    font-size:2.4rem;
                    font-weight:500;
                    color:#fff;
                    line-height:1.6;
                    opacity:1;

                }
                .button-base {
                    margin-top:2rem;
                    opacity:1;

                }
            }
            .brand-BI-logo {
                position:relative;
                z-index:1;
                width:53.8rem;
                height:23.3rem;
                transition:opacity 2.2s ease-out;
                opacity:0;

                svg {
                    width:100%;
                    path {
                        fill:#fff;
                    }
                }

                &[data-state="view"] {
                    opacity:1;
                }
            }
            .bi1-bg {
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background-color:#fff;
                opacity:0;
                z-index:0;
            }
        }

        &.change {
            .sticky-item .brand-BI-logo svg path {
                fill:#12255B;
                transition:all 0.7s ease;
            }
            .sticky-group {
                max-width:118rem;
                gap:17rem
            }
            .brand-BI-head {
                .brand-BI-head-tit,
                .brand-BI-head-txt {
                    color:#12255B;
                    transition:color 0.7s ease;
                }
                .button-base {
                    border-color:#12255B;
                    background-color:#12255B;
                    transition:all 0.7s ease;
                }
            }
        }
        &[data-state="view"] {
            .brand-BI-head .brand-BI-head-tit {
                opacity:1;
                transform:translateX(0vw);
            }
        }

        @media screen and (max-width:1023px) {
            .sticky-timeline {
                height:340dvh;
            }
            .sticky-item {
                gap:4rem;
                flex-direction:column;
                .sticky-group {
                    gap:0;
                    flex-direction:column-reverse;
                }
                .brand-BI-head {
                    align-items:center;
                    width:100%;
                    padding:0 4rem;
                    gap:1.6rem;
                    margin-top: -60dvh;
                    transition:margin 1.2s ease-out;

                    .brand-BI-head-txt{
                        text-align:center;
                        font-size:1.5rem;
                    }
                    .brand-BI-head-tit{
                        text-align:center;
                        font-size:2.5rem;
                    }

                    &[data-state="view"] {
                        margin-top: 0;
                    }
                }
                .brand-BI-logo {
                    width:27rem;
                    height:27rem;
                }
            }
        }
    }

    .bi-tit-line {
        width:100%;
        display:flex;
        align-items:center;
        gap:1.7rem;
        max-width:118rem;
        transition:all 0.9s ease-out;
        opacity:0;
        /* transform:translateY(10rem); */
        h3 {
            font-size:4rem;
            font-weight:600;
            color:var(--navy);
        }
        &::after {
            content:"";
            display:block;
            width:100%;
            flex:1;
            height:1px;
            background-color:#242A5C;
            opacity:0.18;
        }
        @media screen and (max-width:1023px) {
            gap:0.6rem;
            padding:0 2rem;
            h3 {
                font-size:2rem;
            }
        }
    }
    .bi-cont{
        display:flex;
        gap:8rem;
        align-items:center;
        justify-content:center;
        font-size:2.4rem;
        font-weight:500;
        line-height:1.6;
        opacity:0;
        /* transform:translateY(10rem); */
        transition:all 0.7s ease;

        @media screen and (max-width:1023px) {
            font-size:1.6rem;
            gap:2rem;
            flex-direction:column;
            padding:0 2rem;

            img {
                width: 100%;
            }
        }
    }

    [data-scroll-callback="brand_BI_2"] {
        background-color:#fff;
        flex-direction:column;
        position:relative;
        width:100%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        gap:4.8rem;
        z-index:1;

        transition:all .5s ease;

        .bi-tit-line {
            margin-top:8rem;
        }
        .bi-cont.a4 strong,
        .bi-cont.a6 strong{
            display:inline-block;
            font-size:6rem;
            font-weight:600;
            color:var(--navy);
        }

        .bi-cont.a10 {
            max-width:118rem;
            display:flex;
            gap:1.2rem;
            align-items:stretch;
            .brand-color[data-color="primary"],
            .brand-color[data-color="orange"],
            .brand-color[data-color="black"] {
                dt {
                    color:#fff !important;
                }
                dd {
                    color:#fff !important;
                }
            }
            .brand-color[data-color="primary"] {
                flex-direction:column;
                justify-content:space-between;
                width:52rem;
                height:57.3rem;
                background-color:var(--navy);
                h4 {
                    font-size:4rem;
                    color:#fff;
                }
                dl {
                    align-self:flex-end;
                }
            }
            .brand-color[data-color="orange"] {
                background-color:var(--orange);
            }
            .brand-color[data-color="skyblue"] {
                background-color:var(--skyblue);
            }
            .brand-color[data-color="beige"] {
                background-color:var(--beige);
            }
            .brand-color[data-color="pink"] {
                background-color:var(--lightpink);
            }
            .brand-color[data-color="white"] {
                background-color:#fff;
            }
            .brand-color[data-color="black"] {
                background-color:#000;
            }
            .brand-color-group {
                flex:1;
                gap:1.2rem;
                display:flex;
                flex-wrap:wrap;
                align-items:stretch;

                .brand-color {
                    width:calc(50% - .6rem);
                    height:18.3rem;
                    dt {
                        color:#242A5C;
                    }
                    dd {
                        color:#242A5C;
                    }
                }
            }
            .brand-color {
                width:100%;
                height:100%;
                padding:2.8rem;
                display:flex;
                dt {
                    font-size:2rem;
                    font-weight:600;
                    font-family:'Poppins';
                }
                dd {
                    font-size:1.4rem;
                    font-family:'Poppins';
                }
            }
        }
        .bi-cont.a12 {
            width:100%;
            max-width:118rem;
            padding-bottom:12rem;
            dl {
                width:100%;
                display:flex;
                flex-direction:column;
                & > div {
                    width:100%;
                    display:flex;
                    align-items:center;
                    padding:4rem 0;
                    border-bottom:1px solid rgba(36, 42, 92, 0.18);
                }
                dt {
                    width:20rem;
                }
                dd {
                    width:100%;
                    flex:1;
                    display:flex;
                    justify-content:center;
                }
                img{
                    display:block;
                    width:49.4rem;
                }
                p {
                    font-size:2.4rem;
                    font-weight:600;
                    color:var(--navy);
                }
            }
            .n1 dd {
                flex-direction:column;
                justify-content:center;
                align-items:center;
                gap:2rem;
            }
            .n2 dd {
                font-size:6rem;
                font-weight:600;
                color:var(--navy);
            }
            .n3 dd {
                align-items:center;
                gap:8rem;
                & > div {
                    display:flex;
                    flex-direction:column;
                    align-items:center;
                    justify-content:center;
                }
                b {
                    display:block;
                    font-size:3rem;
                    font-weight:600;
                }
                span {
                    display:block;
                    font-size:2.4rem;
                    font-weight:600;
                }
                font-size:6rem;
                font-weight:600;
                color:var(--navy);
            }
            .n4 dd {
                font-size:6rem;
                font-weight:600;
                color:var(--navy);
            }
        }
        

        @media screen and (max-width:1023px) {
            gap:4rem;
            .bi-cont.a2 div {
                br {display:none;}
            }
            .bi-cont.a4 strong,
            .bi-cont.a6 strong{
                font-size:3rem;
                text-align:center;
            }
            .bi-cont.a10 {
                gap:0.6rem;
                flex-direction:column;
                .brand-color[data-color="primary"] {
                    width:100%;
                    height:auto;
                }
                .brand-color-group {
                    flex:1;
                    gap:0.6rem;
                    .brand-color {
                        width:calc(50% - .3rem);
                        height:auto;
                    }
                }
                .brand-color {
                    padding:1.4rem;
                    dt {
                        font-size:1.6rem;
                    }
                    dd {
                        font-size:1.2rem;
                    }
                }
                [data-color="primary"] {
                    h4 {
                        font-size:2rem !important;
                    }
                }
            }
            .bi-cont.a12 {
                dl {
                    & > div {
                        flex-direction:column;
                        padding:3rem 0;
                        align-items:flex-start;
                        justify-content:flex-start;
                    }
                    dt {
                        width:100%;
                        font-weight:700;
                        margin-bottom:1rem;
                    }
                    img{
                        width:24rem;
                    }
                    p {
                        font-size:1.4rem;
                    }

                    dd {
                        justify-content:flex-start;
                    }
                }
                .n1 dd {
                    align-items:flex-start;
                    gap:1rem;
                }
                .n2 dd strong{
                    text-align:left;
                    font-size:2.6rem;
                }
                .n3 dd {
                    flex-wrap:wrap;
                    font-size:2rem;

                    > div {
                        width:40%;
                        text-align:left;
                        align-items:flex-start;
                    }
                    gap:2rem;
                    b {
                        font-size:1.5rem;
                    }
                    span {
                        font-size:1.2rem;
                    }
                    
                }
                .n4 dd strong{
                    text-align:left;
                    font-size:2.6rem;
                }
                
            }
        }
    }
}

.vod-wrap {
    width:100%;
    max-width:120rem;
    margin:0 auto;
    display:flex;
    justify-content:center;
    flex-direction:column;
    .swiper-button-lock {
        display:none !important;
    }
}
.vod-item {
    width:120rem;
    position:relative;
    display:flex;
    flex-direction:column;
    gap:4rem;
    padding-bottom:4rem;
    &::after {
        content:"";
        position:absolute;
        width:200vw;
        height:50%;
        bottom:-1rem;
        left:-100vw;
        background-color:#F7F7F7;
        z-index:-1;
    }
    video,
    iframe {
        width:100%;
        height:100%;
        aspect-ratio:1200 / 675;
    }
    .vod-info {
        position:relative;
        width:100%;
        padding:0 0 5rem;
        &::after {
            content:"";
            position:absolute;
            width:200vw;
            height:calc(100% + 24rem);
            bottom:0;
            left:-100vw;
            background-color:#F7F7F7;
            z-index:-1;
        }
        @media screen and (max-width:1023px) {
            padding-bottom:0;
            &::after {
                display:none;
            }
        }
    }
    .vod-info-tit {
        font-size:2.8rem;
        font-weight:700;
        margin-bottom:2.3rem;
    }
    .vod-info-cont {
        display:flex;
        flex-direction:column;
        gap:1.6rem;

        p {
            font-size:1.6rem;
            color:#333;
        }
    }
    @media screen and (max-width:1023px) {
        width:auto;
        padding:2rem;
        margin:0 -2rem;
        gap:2.4rem;
        .vod-info-tit {
            font-size:1.8rem;
            margin-bottom:1.6rem;
        }
        .vod-info-cont {
            gap:0.8rem;
            p {
                font-size:1.4rem;
            }
        }
    }
}
[data-swiper="promotion"] {
    position:relative;
    max-width: 120rem;
    width:100%;
    padding-top:4rem;

    .swiper-button-prev,
    .swiper-button-next {
        position:relative !important;
        width:6rem;
        height:6rem;
        display:flex;
        justify-content:center;
        align-items:center;
        border-radius:50%;
        border:1px solid var(--navy) !important;
        margin:0;
        top:auto;
        opacity:1;
        left:auto;
        right:auto;
        background:url(../images/common/swiper-arrow-dark.svg) no-repeat 50% 50% / 1.2rem;
        &:hover {
            background-color:var(--navy);
            background-image:url(../images/common/swiper-arrow.svg);
        }
    }
    .swiper-control-group {
        position:absolute;
        display:flex;
        justify-content:space-between;
        top:8.5rem; 
        left:-10rem;
        width:calc(100% + 20rem);
    }
    .swiper {
        padding-bottom:9rem;
    }
    .swiper-button-next {
        transform:rotate(180deg);
    }
    .swiper-pagination {
        top:auto !important;
        bottom:0 !important;
    }
    .swiper-pagination-bullet {
        min-width:16.3rem;
        width:auto;
        flex:1;
        border-radius:0.2rem;
        height:0.4rem;
        margin:0 !important;
        background-color:transparent;
        opacity:1;
        transition:all 0.5s ease;
        z-index:1;
    }
    .swiper-pagination-bullet{
        background-color:#ECECEC !important;
    }
    .swiper-pagination-bullet-active {
        background-color:#898989 !important;
    }
    .swiper-control-group {
        display:flex;
        gap:3rem;
        align-items:center;
        margin-left:auto;
    }
    .swiper-slide {
        aspect-ratio:280 / 157;
        button {
            width:100%;
            height:100%;
            text-align:left;
            span {
                padding-top:1.8rem;
                display:block;
                font-size:2rem;
            }
            img {
                width:100%;
            }
        }
    }
    @media screen and (max-width:1023px) {
        .swiper {
            padding-bottom:6rem;
        }
        .swiper-control-group {
            display:flex;
            top:auto; 
            gap:1.6rem;
            position:absolute;
            bottom:0;
            left:0;
            padding:0;
            width:100%;
            justify-content:flex-end;
        }
        .swiper-button-prev, 
        .swiper-button-next {
            width:3.2rem;
            height:3.2rem;
            background-size:0.74rem;
        }
        .swiper-pagination {
            display: flex;
            bottom:1.5rem !important;
            margin-right:0 !important;
            left:0 !important;
            width:calc(100% - 10rem) !important;
            &:before {
                height:0.2rem;
            }
        }
        .swiper-pagination-bullet { 
            height:0.2rem; 
        }
        .swiper-paginationp-txt {
            font-size:1.5rem; 
            justify-self:flex-start; 
            position:absolute; 
            left:0;
            gap:0.8rem;
        }
        .swiper-slide {
            aspect-ratio:initial
        }
        
    }
}
[data-brand="history"] {
    background:#F8FCFF url(../images/history/bg.png) no-repeat  calc(50% - 46rem ) 26rem / 57.6rem;
    background-attachment: initial;

    .sub-depth-nav {
        margin-bottom: 0;
    }
    .history-tit{
        transform: scale(1, 0.85);
        font-family: 'Poppins';
        font-size: 12rem;
        color: var(--skyblue);
        font-weight: 600;
        position: sticky;
        top:10rem;
        margin-top: 20rem;
        text-align: center;
        scale:1;
        transition: all 0.6s ease-out;
    }
    .history-tit.on{
        opacity: 0;
        scale:0;
        top: 40rem;
        transition: all 0.6s ease-out;
    }
    @media screen and (max-width:1023px) {
        background-image: none;
        .sub-content {
            padding-bottom: 0;
        }
        .history-tit{
            margin-top: 10rem;
            font-size: 4rem;
        }
    }
}
.history-wrap {
    display: flex;
    position: sticky;
    align-items: flex-start;
    top:8rem;
    opacity: 0;
    transition: all .75s ease;

    .history-yeartxt {
        position: sticky;
        top: calc(50% - 17rem);
        width: 41rem;
        display: flex;
        flex-direction: column;
        gap:1.6rem;
        align-items: flex-start;
        padding-left:4rem;
        padding-bottom: 5rem;
        
    }
    .history-year {
        width: 100%;
        display: flex;
        align-items: flex-start;
        font-size:10rem;
        letter-spacing: 0;
        font-weight:600;
        text-align: left;
        opacity: 0;
        color:var(--navy);
        transform: translateX(-5rem);
        transition: all .75s ease;
        font-family: 'Poppins';
        z-index:1;
    }
    .history-txt {
        color:var(--navy);
        padding:0 0 0;
        transform: translateX(-5rem);
        font-size: 5rem;
        opacity: 0;
        line-height: 7.5rem;
        font-weight: 600;
        text-align: left;
        transition: all .75s ease;
        font-family: 'Poppins';
        z-index:1;
    }
    .history-list {
        padding: 88rem 0 0;
        width: 103rem;
        gap:12rem;
        display: flex;
        flex-direction: column;
        
    }
    .history-item:first-child {
        opacity: 0;
    }
    .history-item:nth-child(2n) {
        .history-box {
            background-color: #FFF6F1;
        }
    }
    .history-item {
        min-height: 44rem;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transform: translateY(10rem);
        gap:3rem;
        transition: all .75s ease;

        &[data-year="2024"] .history-box,
        &[data-year="2021"] .history-box,
        &[data-year="2008"] .history-box{
            flex-direction: column;
            display: flex;
            gap:8rem;
        }
        .history-box-group {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            gap:3rem;
        }
    }
    .history-box {
        width: 100%;
        min-height: 6.4rem;
        padding: 8rem 3rem;
        display: flex;
        background-color: #E8F3FF;
        align-items: center;
        justify-content: space-between;
        gap:4rem;
       
    }
    .history-item-txt {
        h4 {
           font-size: 3rem; 
           color: #333;
           font-weight: 600;
        }
        p {
            font-size: 2.8rem; 
            color: #333;
            font-weight: 500;
        }
    }
    .history-item-img{
        width: 36rem;

        img {
            display: block;
            width: 100%;
        }
    }
    @media screen and (max-width:1023px) {
        flex-direction: column;
        
        .history-yeartxt {
            top:0;
            width: 100%;
            padding-top: 6rem;
            margin-left: 0;
            align-items: center;
            gap:1.2rem;
            padding-bottom: 1.2rem;
            padding-left: 0;
            z-index: 2;
            background:#F8FCFF url(../images/history/bg.png) no-repeat 50% 8rem/ 34rem;
            background-attachment: fixed !important;
    
            .history-txt {
                padding-top: 5rem;
                font-size: 2.5rem;
                line-height: 1.3;
                text-align: center;
            }
        }
        
        .history-year {
            position: relative;
            top:0;
            text-align: center;
            align-items: center;
            display: flex;
            flex:1;
            width:auto;
            margin-left:0;
            font-size: 5rem;
            padding-top: 0;
            padding-bottom: 0;
            z-index: 2;
            /* background:linear-gradient(to bottom, #fff 80%, rgba(255,255,255,0)); */
        }
        
        .history-list {
            width: 100%;
        }
        .history-box {
            width: 100%;
            min-height: auto;
            padding: 4rem 2rem;
            gap: 3rem !important;
            flex-direction: column;

            .history-box-group {
                flex-direction: column;
                align-items: center;
                gap:3rem;
            }
        }
        .history-item-txt {
            width: 100%;
            align-items: center;
            justify-content: center;
            h4 {
                font-size: 1.5rem; 
                text-align: center;
            }
            p {
                font-size: 1.4rem; 
                text-align: center;
            }
        }
        .history-item-img{
            width: 100%;
            display: flex;
            justify-content: center;
            img {
                display: block;
                width: 18rem;
            }
        }
    }
}


.sound-control {
    z-index: 2;
    background: url(../images/common/ico-sound-off.svg) no-repeat 50% 50% / 1.6rem;
    &[data-sound="off"] {
        background: url(../images/common/ico-sound-off.svg) no-repeat 50% 50% / 1.6rem;
    }
    &[data-sound="on"] {
        background: url(../images/common/ico-sound-on.svg) no-repeat 50% 50% / 1.6rem;
    }
}