.top-search-area {
    margin:6rem 0 8rem;
    @media screen and (max-width:1023px) {
        margin:3rem 0 4rem;
    }
    .sub-title & {
        margin:0;
        padding-top:6rem;
        width:58rem;
        max-width:calc(100% - 8rem);
        .search-form {
            gap:1.6rem;
            padding:0 1.6rem;
        }
        .btn-clear {
            background-color:#545A8E;
        }
        .btn-search {
            background-image:url(../../images/common/ico-search.svg);
        }
        input {
            color:var(--white);
            font-size:2.4rem;
        }
        @media screen and (max-width:1023px) {
            padding-top:4rem;
            .search-form {
                padding:0 .8rem;
                gap:1.2rem;
            }
            input {
                font-size:2rem;
            }
        }
    }
    .search-form {
        max-width:80rem;
        margin:0 auto;
        border-bottom:0.2rem solid var(--orange);
        display:flex;
        align-items:center;
        padding:0 4rem;
        gap:1rem;
        @media screen and (max-width:1023px) {
            padding:0 1.2rem;
        }
    }
    input {
        width:100%;
        height:7.2rem;
        font-size:3rem;
        padding:0;
        color:var(--black);
        background-color:transparent;
        border:0;
        font-weight:500;
        @media screen and (max-width:1023px) {
            height:5.2rem;
            font-size:2rem;
        }
    }
    .btn-clear {
        width:2.6rem;
        aspect-ratio:1/1;
        border-radius:50%;
        flex-shrink:0;
        background:var(--navy) url(../../images/common/input-clear.svg) no-repeat 50% 50%;
        background-size:1rem;
        @media screen and (max-width:1023px) {
            width:2rem;
            background-size:0.8rem;
        }
    }
    .btn-search {
        width:2.8rem;
        aspect-ratio:1/1;
        flex-shrink:0;
        background:url(../../images/common/ico-search-dark.svg) no-repeat 50% 50%;
        background-size:contain;
        @media screen and (max-width:1023px) {
            width:2rem;
        }
    }
}
.board-list-type {
    border-top:0.2rem solid var(--black);
    @media screen and (max-width:1023px) {
        margin-bottom:-2rem;
    }
    .board-list-item {
        position:relative;
        display:flex;
        border-bottom:1px solid var(--form_line);
        padding:2rem;
        gap:4rem;
        align-items:center;
        @media screen and (max-width:1023px) {
            padding:1.2rem 0;
            gap:1.2rem;
        }
    }
    .board-list-flag {
        display:flex;
        align-items:center;
        justify-content:center;
        flex-shrink:0;
        min-width:12.6rem;
        height:3.4rem;
        color:var(--white);
        font-size:1.8rem;
        font-weight:500;
        &[data-type="notice"] {
            background-color:var(--orange);
        }
        &[data-type="news"] {
            background-color:var(--navy);
        }
        @media screen and (max-width:1023px) {
            font-size:1.3rem;
            min-width:7.6rem;
            height:2.8rem;
        }
    }
    .board-list-title {
        flex:1;
        font-size:2rem;
        font-weight:500;
        color:var(--gray_300);
        @media screen and (max-width:1023px) {
            font-size:1.5rem;
        }
    }
    .board-list-date {
        font-size:2rem;
        font-weight:300;
        color:var(--gray_800);
        flex-shrink:0;
        font-family:'Verdana', 'sans-serif';
        @media screen and (max-width:1023px) {
            font-size:1.3rem;
        }
    }
}
.link-full {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.contact-list {
    margin-top:4rem;
    border-top:0.2rem solid var(--black);
    @media screen and (max-width:1023px) {
        margin-top:2rem;
    }
    .contact-item {
        display:flex;
        gap:4rem;
        align-items:center;
        padding:2.8rem 2rem;
        border-bottom:1px solid var(--form_line);
        @media screen and (max-width:1023px) {
            flex-direction:column;
            align-items:flex-start;
            gap:0.8rem;
            padding:1.6rem 0;
        }
    }
    .contact-name {
        font-size:2rem;
        line-height:2.4rem;
        font-weight:500;
        color:var(--gray_300);
        width:30%;
        @media screen and (max-width:1023px) {
            width:100%;
            font-size:1.5rem;
            line-height:2rem;
        }
    }
    .contact-address {
        font-size:2rem;
        line-height:2.4rem;
        font-weight:500;
        flex:1;
        color:var(--gray_300);
        @media screen and (max-width:1023px) {
            font-size:1.5rem;
            line-height:2rem;
        }
    }
    .contact-number {
        color:var(--orange);
        font-size:2rem;
        line-height:2.4rem;
        font-weight:600;
        font-family:'verdana','sans-serif';
        a {
            pointer-events:none;
        }
        @media screen and (max-width:1023px) {
            font-size:1.8rem;
            line-height:2rem;
            a {
                pointer-events:auto;
            }
        }
    }
}
.board-view-box {

}
.board-title-area {
    border-bottom:.2rem solid var(--black);
    padding:2.4rem 4rem;
    display:flex;
    align-items:flex-end;
    gap:2rem;
    @media screen and (max-width:1023px) {
        padding:1.6rem 0;
        gap:.8rem;
    }
    .board-title {
        flex:1;
        font-size:3rem;
        font-weight:600;
        line-height:3.6rem;
        color:var(--black);
        .board-title-flag {
            display:block;
            margin-bottom:1.6rem;
            color:var(--orange);
            font-size:2.4rem;
            line-height:2.8rem;
            font-weight:500;
        }
        @media screen and (max-width:1023px) {
            font-size:2rem;
            line-height:2.8rem;
            .board-title-flag {
                font-size:1.4rem;
                margin-bottom:.8rem;
                line-height:2rem;
            }
        }
    }
    .board-date {
        font-size:2rem;
        color:var(--gray_800);
        font-weight:300;
        flex-shrink:0;
        @media screen and (max-width:1023px) {
            font-size:1.2rem;
        }
    }
}
.board-content-area {
    padding:4rem;
    border-bottom:.1rem solid var(--form_line);
    font-size:2rem;
    font-weight:500;
    line-height:1.4;
    color:var(--gray_300);
    img {
        max-width:100%;
        display:block;
        margin:0 auto;
    }
    .board-content-data {
        margin-top:4rem;
    }
    @media screen and (max-width:1023px) {
        padding:2rem 0;
        font-size:1.4rem;
        .board-content-data {
            margin-top:2rem;
        }
    }
}
.sh-desc {
    font-size:3.6rem;
    font-weight:500;
    color:var(--black);
    line-height:3.6rem;
    margin-bottom:4rem;
    .sh-desc-point {
        color:var(--orange);
        font-weight:600;
    }
    @media screen and (max-width:1023px) {
        font-size:2rem;
        line-height:2.8rem;
        margin-bottom:2rem;
    }
}
.sh-result-list {
    display:flex;
    flex-direction:column;
    gap:4rem;
    margin-top:2rem;
    @media screen and (max-width:1023px) {
        margin-top:0;
        gap:2rem;
    }
    &[data-type="notice"] {
        border-top:.2rem solid var(--black);
        gap:0;
        .sh-result-list-item {
            padding:2.8rem 2rem;
            @media screen and (max-width:1023px) {
                padding:1.6rem 0;
            }
        }
    }
}
.sh-result-list-item {
    padding:0 0 4rem;
    border-bottom:.1rem solid var(--form_line);
    display:flex;
    gap:6.2rem;
    position:relative;
    align-items:flex-start;
    @media screen and (max-width:1023px) {
        gap:2rem;
        padding-bottom:2rem;
    }
    @media screen and (max-width:600px) {
        flex-wrap:wrap;
    }
    .sh-result-img {
       aspect-ratio:410/262;
        width:41rem;
        flex-shrink:0;
        background:url("../../images/common/no-data-card-bg-wide.jpg") 50% 50% no-repeat;
        background-size:cover;
        display:flex;
        align-items:center;
        justify-content:center;
        .ico-no-data-logo {
            opacity:.2;
            width:12rem;
            @media screen and (max-width:1023px) {
                width:8rem;
            }
        }
        img {
            width:100%;
            height:100%;
            object-fit:cover;
        }
        @media screen and (max-width:1023px) {
            width:20rem;
        }
        @media screen and (max-width:600px) {
            width:100%;
        }
    }
    .sh-result-content {
        flex:1;
        display:flex;
        flex-direction:column;
        gap:4rem;
        @media screen and (max-width:1023px) {
            gap:1.2rem;
        }
    }
    .sh-result-name {
        font-size:4rem;
        line-height:1.4;
        font-weight:600;
        color:var(--black);
        @media screen and (max-width:1023px) {
            font-size:2rem;
        }
    }
    .sh-keyword {
        color:var(--orange);
    }
    .sh-result-data-group {
        display:flex;
        flex-direction:column;
        gap:2rem;
        @media screen and (max-width:1023px) {
            gap:.4rem;
        }
    }
    .sh-result-data-item {
        display:flex;
        font-size:2.4rem;
        line-height:1.4;
        .sh-result-data-title {
            font-weight:600;
            color:var(--black);
            width:12rem;
            @media screen and (max-width:1023px) {
                width:8rem;
            }
        }
        .sh-result-data-value {
            font-weight:400;
            flex:1;
            color:var(--black);
        }
        @media screen and (max-width:1023px) {
            font-size:1.4rem;
        }
    }
    .sh-result-title {
        font-size:2rem;
        font-weight:500;
        color:var(--black);
        flex:1;
        @media screen and (max-width:1023px) {
            font-size:1.4rem;
        }
    }
    .sh-result-date {
        font-size:2rem;
        font-weight:300;
        color:var(--gray_800);
        @media screen and (max-width:1023px) {
            font-size:1.4rem;
        }
    }
}