.award-box {
    padding:6rem 2rem;
    margin-top:4rem;
    ~ .award-box {
        margin-top:6rem;
    }
    &[data-color="navy"] {
        background-color:#F9FCFF;
        .award-year {
            background-color:var(--navy);
        }
    }
    &[data-color="orange"] {
        background-color:#FFFBF9;
        .award-year {
            background-color:var(--orange);
        }
    }
    @media screen and (max-width:1023px) {
        padding:3rem 2rem;
        margin-top:2rem;
        ~ .award-box {
            margin-top:3rem;
        }
    }
}
.award-content {
    display:flex;
    align-items:center;
    gap:16rem;
    max-width:113rem;
    margin:0 auto;
    @media screen and (max-width:1023px) {
        flex-direction:column;
        gap:2.8rem;
    }
}
.award-year {
    width:19rem;
    aspect-ratio:1/1;
    border-radius:999em;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:.8rem;
    font-size:3.2rem;
    color:var(--white);
    line-height:4.8rem;
    font-weight:600;
    @media screen and (max-width:1023px) {
        width:10rem;
        font-size:2rem;
        line-height:2.8rem;
    }
}
.mini-logo {
    aspect-ratio:53/39;
    display:block;
    width:5.3rem;
    background:url("../../images/common/mini-logo.svg") no-repeat 50% 50% /contain;
    @media screen and (max-width:1023px) {
        width:2.4rem;
    }
}
.award-list {
    flex:1;
    display:flex;
    flex-direction:column;
    gap:.8rem;
    .award-list-item {
        font-size:2.4rem;
        line-height:3.2rem;
        color:var(--black);
        font-weight:500;
        @media screen and (max-width:1023px) {
            font-size:1.4rem;
            line-height:2rem;
        }
    }
    .magazine-name {
        color:var(--gray_800);
    }
}