.base-footer{
    width: 100%;
    background-color: var(--navy);
    padding: 12rem 2.4rem;
}
.base-footer-wrap {
    position: relative;
    width: 100%;
    max-width: 160rem;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.base-footer-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
    gap:2rem;

    address {
        display: block;
        text-align: right;
        font-size: 1.6rem;
        color:rgba(255,255,255,0.5);
    }

    .copyright {
        font-size: 1.6rem;
        color:rgba(255,255,255,0.2);
        margin-top: 2rem ;
    }
}

@media (max-width:900px) {
    .base-footer {padding:4.7rem 3rem 10rem;}
    .base-footer-wrap{ 
        flex-direction: column;
        align-items: flex-start;

        img{width: 11rem; margin-bottom: 3rem;}
    }
    .base-footer-group {
        align-items: flex-start;

        address{
            text-align: left;
            span{display: block;}
        }
        a{position: absolute; bottom:-4rem; left:0;}
    }
}





