[data-page="main"] .base-main {
    padding-top:0;
}
.main-section{
    position: relative;
    width:100%;
    
    &[data-sec="visual"] {
        height: 100dvh;
        display: flex;
        
        .dim{position: absolute; top:0; left:0; width: 100%; height: 100%; background-color: #000; opacity: 0; z-index: 1;}
        .swiper{width: 100%;}
        .swiper-slide{
            display: flex;
            height:100dvh;
            align-items: center;
            width: 100%;
        }
        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .visual-txt {
            position: relative;
            z-index: 2;
            font-size: 6rem;
            font-weight: 500;
            line-height: 8.8rem;
            color:#fff;
            padding-left: 14.5rem;
            margin: 0 auto;
            width: 100%;
            max-width: 160rem;
        }
        .effect-wrap[data-eff="hidden-up"] {
            overflow: hidden;
            position: relative;

            &[data-delay="1"] .effect-item{animation-delay:.7s;}
            .effect-item {
                transform: translateY(10rem);

                animation-name:hiddenup;
                animation-delay:.4s;
                animation-duration:.8s;
                animation-iteration-count:1;
                animation-fill-mode:forwards;
                animation-timing-function:cubic-bezier(.07,.26,0,.93);
                animation-play-state:paused;
            }
        }
        .swiper-slide-next:not(.swiper-slide-visible) .effect-wrap .effect-item,
        .swiper-slide-prev:not(.swiper-slide-visible) .effect-wrap .effect-item{
            animation-name:resetSwiper;
            animation-duration:.3s;
            animation-iteration-count:1;
            animation-fill-mode:forwards;
            animation-timing-function:ease-in;
        }
        .swiper-slide.swiper-slide-visible .effect-wrap .effect-item,
        .swiper-slide.swiper-slide-active .effect-wrap .effect-item {animation-play-state:running;}
       

        .swiper-pagination {
            position: static;
            padding:0;
            border-radius: .2rem;
            margin-right: 1.2rem;
            opacity: 1;
            transform: translateY(-.2rem);
            display: flex;
            align-items: center;
            width: auto;

            &::before{
                content:"";
                position: absolute;
                display: block;
                width: 100%;
                height: .4rem;
                background: rgba(255,255,255,0.3);
                z-index: -1; 
                left:0;
                border-radius: .2rem;
            }
        }
        .swiper-pagination-bullet{
            width: 6.6rem;
            border-radius: .2rem;
            height: .4rem;
            margin: 0 !important;
            background-color: transparent;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 1;
        }
        .swiper-pagination-bullet-active{
            background-color: #fff !important;
        }
        .video-control-group{
            position: absolute;
            right: 10rem;
            bottom: 12.5rem;
            display: flex;
            align-items: center;
            z-index: 2;
        }
        .video-bar {
            -webkit-appearance: none;
            transform: translateY(.3rem);
        }
        ::-webkit-progress-bar {
            background-color: rgba(255,255,255,0.3);
            border-radius: .2rem;
            width: 18rem;
            border-radius: .2rem;
            height: .4rem;
        }
        ::-webkit-progress-value {
            background-color: #fff;
            transition: all 0.5s ease;
        }
        .video-control{
            position: relative;
            z-index: 1;
            width: 4rem;
            height: 4rem;
            margin-right: 1.2rem;
            transform: translateY(-.2rem);
            background: url(../../images/common/swiper-play.svg) no-repeat 50% 50% / 1.2rem;

            &[data-state="pause"] {
                 background: url(../../images/common/swiper-pause.svg) no-repeat 50% 50% / 1.2rem;
            }
        }
    }
    &[data-sec="story"] {
        height: 100dvh;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:12rem 4rem 0;
        background-color: #000;

        video {
            opacity: .3;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .stroy-card {
            position: relative;
            z-index: 1;
            width: 100%;
            max-width: 142.6rem;
            height: 72rem;
            max-height: 70dvh;
            background-color: rgba(255,255,255,0.9);
            display: flex;
            justify-content:center;
            align-items: center;
            gap: 20%;
            transition: all 0.3s ease-in;
        }
        .stroy-card-txt {
            color: var(--navy);
            font-size: 5rem;
            font-weight: 500;
        }
        .stroy-card-link {
            color: var(--navy);
            font-size: 3rem;
            font-weight: 500;
            text-decoration: none;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
            gap:1.8rem;
            height: 34rem;
            
            span {
                display: flex;
                align-items: center;
                gap:1.3rem;
            }
            span::after {
                content:"";
                display: block;
                width: 3.4rem;
                height: 1.5rem;
                background: url(../../images/common/link-arrow.svg) no-repeat 50% 50% / 3.4rem;
            }

            img {
                width: 20rem; 
                opacity: .5;
                transform: translateY(0);
                transition: all .8s ease-out;
            }
        }

        &[data-scroll-view="true"] {
            /* .stroy-card {
                width: 100%;
                height: 72rem;
                transition: all 1.3s ease-in;
            } */
            .stroy-card .stroy-card-link img{
                opacity: 1;
                transform: translateY(-10rem);
                transition: all .6s ease-in;
            }
        }
    }
    &[data-sec="info"] {
        min-height: 90rem;
        padding: 19rem 4rem;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &[data-sec="news"] {
        min-height: 90rem;
        padding: 13.6rem 4rem;
        background-color: #F8F8F8;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &[data-sec="etc"] {
        height: 100%;
        max-height: 108rem;
        background-color: var(--navy);
        display: grid;
        grid-template-rows: 108rem;

        .main-etc {
            display: grid;
            grid-template-columns: 1fr 94rem;
            grid-template-rows: 1fr;
            width: 100%;
            height: 100%;
        }
        .main-etc-img {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            background: url(../../images/main/etc-visual.jpg) no-repeat 50% 90% / cover;
        }
        .logo {width: 30.8rem; height: 3.8rem; background-size: contain;}
        .main-etc-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 54rem 54rem;

            a {
                display: block;
                width: 47rem;
                padding: 10rem 5.7rem 4rem;

                &:nth-child(1) {
                    background-color: var(--navy);
                    dt,dd{color:#fff;}
                    dt::before{background-image: url(../../images/common/simbol-white.svg)}
                }
                &:nth-child(2) {
                    background-color: var(--orange);
                    
                }
                &:nth-child(3) {background-color: var(--skyblue);}
                &:nth-child(4) {background-color: var(--beige);}
            }
            dt {font-size: 4rem; font-weight: 600; margin-bottom: 7rem; color: var(--navy);}
            dt::before{
                content: "";
                display: block;
                width:6rem;
                height: 4.5rem;
                background: url(../../images/common/simbol.svg) no-repeat 50% 50% / 6rem;
                margin-bottom: 8rem;
            }
        


            dd {font-size: 2.4rem; font-weight: 500; color: var(--navy);}

            br.only-m{display: none;}
        }
    }
}

.main-list {
    width: 100%;
    padding: 0;

    .swiper{
        max-width: 172rem;
        padding-bottom: 6rem;
        @media (max-width:900px) {
            padding-bottom:0 4rem;
        }
    }
    /* .swiper-slide {max-width: 40rem;} */
    .swiper-pagination {
        position: absolute !important;
        margin-top: 0 !important;
        border-radius: .2rem;
        margin-right: 1.2rem;
        opacity: 1;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        width: auto !important;
        left:50% !important;
        top:auto !important;
        bottom: 0 !important;

        &::before{
            content:"";
            position: absolute;
            display: block;
            width: 100%;
            height: .4rem;
            background: #ECECEC;
            z-index: -1; 
            left:0;
            border-radius: .2rem;
        }
    }
    .swiper-paginationp-txt {
        display: flex;
        gap:1.6rem;
        align-items: center;
        font-size: 2rem;
        font-weight: 500;
        color: var(--gray_50);
        b {color:#12255B;}
    }
    .swiper-button-prev,
    .swiper-button-next {
        position: relative !important;
        width: 6rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: .1rem solid var(--navy) !important;
        margin: 0;
        top:auto;
        opacity: 1;
        left: auto;
        right: auto;
        background: url(../../images/common/swiper-arrow-dark.svg) no-repeat 50% 50% / 1.2rem;

        &:hover {
            background-color: var(--navy);
            background-image: url(../../images/common/swiper-arrow.svg);
        }
    }
    .swiper-button-next{transform: rotate(180deg);}
    .swiper-pagination-bullet{
        min-width: 16.3rem;
        width: auto;
        flex:1;
        border-radius: .2rem;
        height: .4rem;
        margin: 0 !important;
        background-color: transparent;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .swiper-pagination-bullet-active{background-color: #898989 !important;}
    .swiper-control-group {
        display: flex;
        gap:3rem;
        align-items: center;
        margin-left:auto;
    }
}
.main-list-tit{
    width: 100%;
    max-width: 172rem;
    margin:0 auto 6rem;
    display: flex;
    align-items: center;
    gap:4rem;

    h2 {
        width: auto;
        font-size: 6rem; 
        font-weight: 600;
        color: var(--navy);
        line-height: 1;
    }
}
.btn-more {
    position: relative;
    font-size: 2rem;
    color: var(--navy);
    text-decoration: none;

    &::after {
        content:"";
        display: block;
        position: absolute;
        width: 9.2rem;
        height: 0.7rem;
        background: url(../../images/common/ico-more.svg) no-repeat 0 50% / 9.2rem;
    }
}

@keyframes hiddenup {
    0% {transform: translateY(10rem);}
    100% {transform: translateY(0);}
}
@keyframes resetSwiper {
    0%{opacity: 1;}
    99%{opacity: 0;}
    100%{opacity: 0; display: none;}
}