.join-step-box {
    display:flex;
    gap:2rem;
    margin-bottom:8rem;
    flex-wrap:wrap;
    @media screen and (max-width:1023px) {
        margin-bottom:4rem;
        gap:1.2rem;
    }
    @media screen and (max-width:767px) {
        gap:.8rem;
    }
    .join-step-item {
        width:calc((100% - 6rem) / 4);
        background-color:#eee;
        border-radius:2rem;
        padding:6rem 2rem;
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:1.6rem;
        color:#bbb;
        font-size:3rem;
        word-break:keep-all;
        border:.2rem solid transparent;
        &[data-state="selected"] {
            background-color:#F2F9FF;
            color:var(--navy);
            border-color:var(--navy);
        }
        @media screen and (max-width:1023px) {
            padding:3rem 1.2rem;
            font-size:1.6rem;
            gap:.8rem;
            border-radius:1.2rem;
            width:calc((100% - 3.6rem) / 4);
        }
        @media screen and (max-width:767px) {
            /*width:100%;*/
            width:calc((100% - .8rem) / 2);
            padding:1.2rem .4rem;
            font-size:1.4rem;
            border-radius:.8rem;
            border-width:.1rem;
        }
    }
    .join-step-desc {
        font-weight:500;
        line-height:1.4;
        text-align:center;
    }
    .join-step {
        font-weight:500;
        line-height:1;
    }
}
.login-box {
    max-width:48.6rem;
    width:100%;
    padding:7.8rem 6.2rem 11rem;
    background-color:rgba(255,255,255,.78);
    border-radius:2rem;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    @media screen and (max-width:1023px) {
        padding:6rem 2.8rem;
    }
}
.login-desc {
    font-size:2rem;
    line-height:2.4rem;
    color:var(--navy);
    text-align:center;
    font-weight:500;
    margin-bottom:1.8rem;
    @media screen and (max-width:1023px) {
        font-size:1.6rem;
    }
}
.ico-login-logo {
    aspect-ratio:252/32;
    background:url("../../images/sub/login-logo.svg") no-repeat 50% 50%;
    background-size:contain;
    width:25.2rem;
    @media screen and (max-width:1023px) {
        width:18rem;
    }
}
.login-form {
    width:100%;
    display:flex;
    flex-direction:column;
    gap:2.4rem;
    margin-top:6rem;
    .button-base {
        margin-top:1.6rem;
        min-height:5rem;
    }
    @media screen and (max-width:1023px) {
        margin-top:3rem;
        gap:1.6rem;
        .button-base {
            margin-top:1.2rem;
        }
    }
}
.login-form-item {
    border-bottom:.1rem solid var(--navy);
    display:flex;
    width:100%;
    padding:0 2rem;
    input {
        border:none;
        background-color:transparent;
        outline:none;
        height:5.2rem;
        font-size:2rem;
        padding:0;
        flex:1;
        font-weight:500;
        min-width:0;
    }
    ::placeholder {
        color:var(--navy);
    }
    i {
        flex-shrink:0;
    }
    .ico-id,
    .ico-pw {
        aspect-ratio:1/1;
        width:2rem;
        background-size:contain;
    }
    .ico-id {
        background:url("../../images/sub/ico-id.svg") no-repeat 50% 50%;
    }
    .ico-pw {
        background:url("../../images/sub/ico-pw.svg") no-repeat 50% 50%;
    }
}
.login-link {
    margin-top:8rem;
    display:flex;
    gap:2rem;
    align-items:center;
    justify-content:center;
    .login-link-item {
        font-size:1.6rem;
        font-weight:500;
        color:var(--navy);
    }
    .login-line {
        width:.1rem;
        height:.9rem;
        background-color:var(--navy);
        flex-shrink:0;
    }
    @media screen and (max-width:1023px) {
        margin-top:4rem;
        gap:1.6rem;
        .login-link-item {
            font-size:1.3rem;
        }
    }
}