.myinfo-head {
    width:100%;
    position:relative;
    border:0.1rem solid #CCCCCC;
    background-color:#FBFBFB;
    padding:6rem;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    .btn-area-center {
        margin-top:4rem;
        gap:2rem;

        @media (max-width:1023px) {
            margin-top:3rem;
            gap:1rem;
        }
    }

    [data-bul="dot"] {
        font-size:2rem;
        line-height:1.4;
        
        &::before {
            top:1.2rem;
        }
        @media (max-width:1023px) {
            font-size:1.4rem;
            font-weight:500;
            
            &::before {
                position:static;
                display:inline-block;
                top:0;
                vertical-align:middle;
                margin-right:0.4rem;
                transform:translateY(-0.2rem);
            }
        }
    }
    .mt-m {
        margin-top:2.6rem;
        @media (max-width:1023px) {
            margin-top:1.6rem;
        }
    }
    @media (max-width:1023px) {
        padding:3rem 2rem;

        .button-base {
            flex:1;
        }
    }
}
.myinfo-head-tit {
    font-size:4rem;
    font-weight:500;
    line-height: 1.3;
    em {
        font-weight:700;
    }
    b {
        font-weight:700;
    }
    @media (max-width:1023px) {
        font-size:3rem;
        span {display:block;}
    }
}
.myinfo-txt {
    font-size:2.4rem;
    font-weight:500;
    margin-top:1rem;
    @media (max-width:1023px) {
        font-size:1.5rem;
        span {display:block;}
    }
}

.conts-head {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 1.4rem 1.2rem;
    @media (max-width:1023px) {
        padding:0.6rem 0.6rem;
    }
}
.conts-head-group {
    display: flex;
    align-items: center;
    gap:3rem;
}
.radio-text {
    position: relative;
    border:0;
    align-self: flex-end;
    padding: 0;
    display: flex;
    align-items: center;
    gap:0.9rem;
    :checked + label{
        color:var(--orange)
    }
    input{
        position: absolute;
    }
    label {
        font-size: 1.8rem;
    }
    span {
        font-size: 1.2rem;
        color:#ccc;
    }
}
.conts-head-tit {
    font-size:3rem;
    font-weight:600;
    display:flex;
    align-items:center;
    gap:1.4rem;
    &::before {
        content:"";
        display:block;
        width:1.2rem;
        height:1.2rem;
        background-color:var(--beige);
    }
    @media (max-width:1023px) {
        font-size:2rem;
        gap:0.7rem;
        &::before {
            width:0.7rem;
            height:0.7rem;
        }
    }
}

.ico-req {
    color:var(--orange);
}

.form-group {
    display:flex;
    flex-wrap:wrap;
    gap:1rem;
    width:100%;

    &[data-dir="column"] {
        flex-direction:column;
        gap:2rem;
    }

    &[data-type="withdrawal-100"] {
        .form-input {
            max-width:80rem;
            width:100%;
            height:10.8rem;
            padding:1.2rem;
        }
    }
    
    &[data-type="email"] {
        .form-select {
            width:16.4rem;
        }

        @media (max-width:1023px) {
           flex-direction:column;
            .form-input,
            .form-select {
                width:100%;
            }
        }
    }
    &[data-type="rec-info"] {
        display:flex;
        gap:4rem;
        align-items:center;

        @media (max-width:1023px) {
            gap:1.2rem;
            .form-innertxt {
                font-size:1.4rem;
            }
        }
    }
    &[data-type="zip-code"] {
        .form-input {
            width:16rem;

            @media (max-width:1023px) {
                flex:1;
                width:10rem;
            }
        }
    }
    &[data-type="address"] {
        .form-input {
            width:38.3rem;

            @media (max-width:1023px) {
                min-width:100%;
                width:100%;
            }
        }
    }
    &[data-type="date"] {
        width:100%;
    }
    &[data-type="day-time"] {
        .form-select{
            width: 16rem;
        }
        .form-select + .form-select{
            width: 30rem;
        }
    }
    + .form-group {
        margin-top:2rem;

        @media (max-width:1023px) {
            margin-top:1rem;
        }
    }
}
.gray-box {
    padding: 1.6rem 2rem;
    background-color: #F5F5F5;
    font-size: 1.8rem;
    font-weight: 500;
}
.notice-box {
    max-width:100%;
    width:100%;
    height:30rem;
    padding:2rem;
    font-size: 2rem;
    line-height: 1.6;
    border:.1rem solid #ccc;
    overflow: hidden;
    overflow-y: auto;
}
.desc-box {
    display:flex;
    align-items:center;
    justify-content: space-between;
    gap:2rem;
    .bul-star {
        flex:1;
    }
    .button-base {
        padding:0 1rem;
    }
    @media (max-width:1023px) {
        flex-direction:column;
        margin-top:2rem;
        padding-left:1rem;
        align-items:flex-start;
        .bul-star {
            font-size:1.4rem;
        }
        .button-base {
            margin-left:auto;
            min-height:3rem;
            font-size:1.4rem;
        }
    }
}
.pink-line-box {
    border-top:.2rem solid var(--black);
    border-bottom:.1rem solid var(--form_line);
    background-color:#FFF6F6;
    padding:4rem 2rem;
    display:flex;
    gap:2rem;
    align-items:center;
    .text-30 {
        flex:1;
    }
    .btn-group {
        display:flex;
        gap:2rem;
        align-items: center;
        .text-30 {
            flex: none;
            white-space: nowrap;
        }
        .button-base {
            min-width:15rem;
            padding:0 1rem;
        }
    }
    @media (max-width:1023px) {
        padding:2rem 1rem;
        margin-top:3rem;
        flex-direction:column;
        align-items:flex-start;
        .btn-group {
            gap:1rem;
            width:100%;
            .button-base {
                flex:1;
                min-height:3rem;
                font-size:1.4rem;
                min-width:0;
            }
        }
    }
}
.center-line-box {
    display:flex;
    border-top:.2rem solid var(--black);
    border-bottom:.1rem solid var(--form_line);
    justify-content:center;
    align-items:center;
    padding:4rem 2rem;
    gap:4rem;
    flex-direction:column;
    text-align:center;
    font-size:2.4rem;
    line-height:1.4;
    font-weight:500;
    margin-bottom:8rem;

    @media (max-width:1023px) {
        padding:3rem 1rem;
        font-size:1.5rem;
        margin-bottom:4rem;
        gap:2rem;
    }
}
.beige-box {
    background-color:#FAF5EE;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:4rem 2rem;
    margin:0 auto;

    .beige-box-dl {
        display:flex;
        flex-direction:column;
        font-size:2rem;
        line-height:1.4;
        font-weight:500;
        gap:.8rem;

        .beige-box-dl-item {
            display:flex;
        }
        .beige-box-dt {
            width:17rem;
        }

        @media (max-width:1023px) {
            font-size:1.5rem;

            .beige-box-dt {
                width:9rem;
            }
        }
    }
   
    
    @media (max-width:1023px) {
        padding:1.2rem 1rem;
    }
    
}
.sign-wrap {
    display: flex;
    width: 100%;

}
.conts-body {
    display:flex;
    border-top:.2rem solid var(--black);
    border-bottom:.1rem solid var(--form_line);
    flex-direction:column;
    justify-content:center;
    padding:4rem 0;

    @media (max-width:1023px) {
        padding:2rem 0;
    }
}
.conts-ul {
    ul {
        margin-top: 0.4rem;
    }
    [data-bul="hyphen"] {
        font-size: 2rem;
        color:#333;
    }
    @media (max-width:1023px) {
        li {
            font-size:1.5rem;
        }
        [data-bul="hyphen"] {
            font-size: 1.5rem;
        }
    }
}
.conts-dl {
    padding-left:2rem;
    .conts-dl-tit {
        display:block;
        font-size:2.4rem;
        font-weight:600;
        line-height:1.3;
        color:#000;
        margin-bottom:1.6rem;
        margin-left:-1rem;
        @media (max-width:1023px) {
            font-size:1.7rem;
        }
    }
    @media (max-width:1023px) {
        margin-top:3rem;
        dd[data-bul="dot"] {
            font-size:1.4rem;

            &::before {
                top:0.8rem
            }
        }
    }
}

.text-30 {
    font-size:3rem;
    color:var(--black);
    line-height:3.6rem;
    word-break:keep-all;
    @media (max-width:1023px) {
        font-size:2rem;
        line-height:2.6rem;
    }
}
.text-24 {
    font-size:2.4rem;
    color:var(--black);
    line-height:1.4;
    word-break:keep-all;
    font-weight: 500;
    @media (max-width:1023px) {
        font-size:1.6rem;
    }
}
.fake-table-box {
    border-top:.2rem solid var(--black);
    /* ~ .fake-table-box {
        margin-top:4rem;
    } */
    &[data-type="check1"] {
        .fake-table-item-cell[data-type="title"] {
            text-align: left;
            justify-content: flex-start;
            padding: 0 2rem;
        }
        .fake-table-item-cell {
            padding: 0 4rem;
        }
    }
    .fake-table-with-button {
        display:flex;
        @media (max-width:1023px) {
            flex-direction:column;
        }
    }
    .fake-table-row-group {
        flex:1;
    }
    .fake-table-row-button {
        flex-shrink:0;
        padding:1.6rem 2rem;
        border-bottom:.1rem solid var(--form_line);
        .button-base {
            height:100%;
            min-width:18rem;
        }
        @media (max-width:1023px) {
            border-bottom:none;
            padding:2rem 0 0;
            .button-base {
                width:100%;
            }
        }
    }
    @media (max-width:1023px) {
        /* & ~ .fake-table-box {
            margin-top: 2rem;
        } */
        &[data-style="mobile-full-bg"] {
            padding:3rem 1rem;
            border-bottom:.1rem solid var(--form_line);
            .fake-table-row {
                border-bottom:none;
                ~ .fake-table-row {
                    margin-top:2rem;
                }
            }
            .fake-table-item-cell {
                min-height:0;
                padding:0;
                &[data-type="title"] {
                    width:100%;
                    padding:0;
                    margin-bottom:1rem;
                    border-right:none;
                }
            }
            &[data-bg="sky"] {
                background-color:#F2F9FF;
            }
            .fake-table-item {
                flex-wrap:wrap;
                ~ .fake-table-item {
                    margin-top:2rem;
                }
            }
        }
        &:not([data-style="mobile-full-bg"]) {
            .fake-table-item ~ .fake-table-item {
                border-top:.1rem solid var(--form_line);
            }
        }
    }
}
.fake-table-row {
    border-bottom:.1rem solid var(--form_line);
    display:flex;
    
    &[data-align="col"] {
        .fake-table-item {
            flex-direction:column;
            @media (max-width:1023px) {
                flex-direction:row;
            }
            ~ .fake-table-item {
                border-left:.1rem solid var(--form_line);
                @media (max-width:1023px) {
                    border-left:none;
                    width:100%;
                }
            }
            .fake-table-item-cell {
                width:100%;
                justify-content:center;
                @media (max-width:1023px) {
                    justify-content:flex-start;
                    .button-base {
                        min-height:3rem;
                        min-width:0;
                        padding:.2rem 1.2rem;
                        font-size:1.4rem;
                    }
                }
                &[data-type="title"] {
                    border-bottom:.1rem solid var(--form_line);
                    @media (max-width:1023px) {
                        width:10.5rem;
                        border-bottom:none;
                    }
                }
            }
            &[data-size="20%"] {
                width:20%;
                flex:none;
                @media (max-width:1023px) {
                    width:100%;
                }
            }
        }
        & ~ .fake-table-row {
            .fake-table-item-cell[data-type="title"] {
                display: none;
            }
        }
    }
    
    @media (max-width:1023px) {
        flex-direction:column;
    }
}
.fake-table-item {
    display:flex;
    flex:1;
    /*flex-wrap:wrap;*/
    &[data-flex="2"] {
        flex:2;
    }
    &[data-flex="3"] {
        flex:3;
    }
    &[data-flex="4"] {
        flex:4;
    }
    &[data-rows="2"] {
        [data-type="title"] {
            min-height:16rem;
            @media (max-width:1400px) {
                min-height:12.8rem;
            }
            @media (max-width:1023px) {
                min-height:4rem;
            }
        }
    }
    .fake-table-item-cell {
        min-height:8rem;
        display:flex;
        align-items:center;
        font-size:2rem;
        color:var(--gray_300);
        font-weight:500;
        line-height:2.4rem;
        padding:.8rem 2.4rem;
        word-break:keep-all;
        gap:1rem;
        &[data-type="title"] {
            justify-content:center;
            padding:.8rem;
            flex-shrink:0;
            width:18rem;
        }
        &[data-bg="sky"] {
            background-color:#F2F9FF;
        }
        &[data-bg="gray"] {
            background-color:#FAFAFA;
        }
        &:not([data-type="title"]) {
            flex:1;
        }
        .form-select {
            width:100%;
        }
        .form-input {
            min-width:0;
        }
    }
    @media (max-width:1400px) {
        .fake-table-item-cell {
            font-size:1.6rem;
            padding:.8rem 1.2rem;
            min-height:6.4rem;
            &[data-type="title"] {
                width:16rem;
            }
        }
    }
    @media (max-width:1023px) {
        .fake-table-item-cell {
            min-height:4rem;
            font-size:1.5rem;
            line-height:2rem;
            padding:1.2rem 1rem;
            &[data-type="title"] {
                width:10.5rem;
                justify-content:flex-start;
                border-right:.1rem solid var(--form_line);
            }
        }
    }
}
.fake-table-item-group {
    display:flex;
    .fake-table-item {
        flex:1;
    }
    @media (max-width:1023px) {
        flex-direction:column;
        flex:1;
    }
}
.fake-table-item-cell-group {
    @media (max-width:1023px) {
        display:flex;
        width:100%;
    }
}

