.myinfo-head {
    width:100%;
    position:relative;
    border:1px solid #CCCCCC;
    background-color:#FBFBFB;
    padding:6rem;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    .btn-area-center {
        margin-top:4rem;
        gap:2rem;

        @media screen and (max-width:1023px) {
            margin-top:3rem;
            gap:1rem;
        }
    }

    [data-bul="dot"] {
        font-size:2rem;
        line-height:1.4;
        
        &::before {
            top:1.2rem;
        }
        @media screen and (max-width:1023px) {
            font-size:1.4rem;
            font-weight:500;
            
            &::before {
                position:static;
                display:inline-block;
                top:0;
                vertical-align:middle;
                margin-right:0.4rem;
                transform:translateY(-0.2rem);
            }
        }
    }
    .mt-m {
        margin-top:2.6rem !important;
        @media screen and (max-width:1023px) {
            margin-top:1.6rem !important;
        }
    }
    @media screen and (max-width:1023px) {
        padding:3rem 2rem;

        .button-base {
            flex:1;
        }
    }
}
.myinfo-head-tit {
    font-size:4rem;
    font-weight:500;
    line-height:1.3;
    em {
        font-weight:700;
    }
    b {
        font-weight:700;
    }
    @media screen and (max-width:1023px) {
        font-size:3rem;
        span {display:block;}
    }
}
.myinfo-txt {
    font-size:2.4rem;
    font-weight:500;
    margin-top:1rem;
    @media screen and (max-width:1023px) {
        font-size:1.5rem;
        span {display:block;}
    }
}

.conts-head {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 1.4rem 1.2rem;
    
    [data-bul] {transform:translateY(.3rem);}
    @media screen and (max-width:1023px) {
        padding:0.6rem 0.6rem;

        &[data-dir-m="col"] {
            flex-direction:column;
            align-items: flex-start;
            margin-bottom:1rem;
        }
    }
}
.conts-head-group {
    display:flex;
    align-items:center;
    gap:3rem;

    @media screen and (max-width:1023px) {
        gap:1.5rem;
    }
}
.radio-text {
    position:relative;
    border:0;
    align-self:flex-end;
    padding:0;
    display:flex;
    align-items:center;
    gap:0.9rem;
    :checked + label {
        color:var(--orange)
    }
    input {
        position:absolute;
    }
    label {
        font-size:1.8rem;
    }
    span {
        font-size:1.2rem;
        color:#ccc;
    }
    @media screen and (max-width:1023px) {
        padding:0.6rem 0.6rem;
        gap:0.5rem;
        label {
            font-size:1.2rem;
        }
    }
}
.conts-head-tit {
    font-size:3rem;
    font-weight:600;
    display:flex;
    align-items:center;
    gap:1.4rem;
    &::before {
        content:"";
        display:block;
        width:1.2rem;
        height:1.2rem;
        background-color:var(--beige);
    }
    @media screen and (max-width:1023px) {
        font-size:2rem;
        gap:0.7rem;
        &::before {
            width:0.7rem;
            height:0.7rem;
        }
    }
}

.ico-req {
    color:var(--orange);
}

/* 고개상담입력 */
.table-input.consulting {
    .form-group + p {margin-top:1rem;}
    .form-select {
        min-width:30rem;
    }
    .form-input {
        width:100%;
    }
    textarea.form-input {
        width:100%;
        padding:2rem;
        height:34rem;
        resize:none;
    }
    @media screen and (max-width:1023px) {
        .col-th {
            width:8rem;
        }
        .form-select {
            min-width:0;
            width:100%;
        }
        textarea.form-input {
            padding:1rem;
            height:16rem;
        }
        th {
            word-break:break-all;
        }
    }
}
.form-group {
    display:flex;
    flex-wrap:wrap;
    gap:1rem;
    width:100%;

    
    &[data-size="300"] {
        max-width: 30rem;
    }
    &[data-dir="column"] {
        flex-direction:column;
        gap:2rem;
    }
    &[data-type="withdrawal-100"] {
        .form-input {
            max-width:80rem;
            width:100%;
            height:10.8rem;
            padding:1.2rem;
        }
    }
    &[data-type="email"] {
        .form-select {
            width:16.4rem;
        }

        @media screen and (max-width:1023px) {
           flex-direction:column;
            .form-input,
            .form-select {
                width:100%;
            }
        }
    }
    &[data-type="rec-info"] {
        display:flex;
        gap:4rem;
        align-items:center;

        @media screen and (max-width:1023px) {
            gap:1.2rem;
            .form-innertxt {
                font-size:1.4rem;
            }
        }
    }
    &[data-type="zip-code"] {
        .form-input {
            width:16rem;

            @media screen and (max-width:1023px) {
                flex:1;
                width:10rem;
            }
        }
    }
    &[data-type="address"] {
        .form-input {
            width:38.3rem;

            @media screen and (max-width:1023px) {
                min-width:100%;
                width:100%;
            }
        }
    }
    &[data-type="date"] {
        width:100%;
    }
    &[data-type="day-time"] {
        .form-select {
            width:16rem;
        }
        .form-select + .form-select {
            width:30rem;
        }
        @media screen and (max-width:1023px) {
            .form-select {
                width:100%;
            }
            .form-select + .form-select {
                width:100%;
            }
        }
    }
    + .form-group {
        margin-top:2rem;

        @media screen and (max-width:1023px) {
            margin-top:1rem;
        }
    }
    @media screen and (max-width:1023px) {
        .form-select {
            width:100%;
        }
    }
    
}
.gray-box {
    padding:1.6rem 2rem;
    background-color:#F5F5F5;
    font-size:1.8rem;
    font-weight:500;
}
.notice-box {
    max-width:100%;
    width:100%;
    height:30rem;
    padding:2rem;
    font-size:2rem;
    line-height:1.6;
    border:1px solid #ccc;
    overflow:hidden;
    overflow-y:auto;

    @media screen and (max-width:1023px) {
        padding:1rem;
        font-size:1.2rem;
        height:24rem;
    }
}
.desc-box {
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:2rem;
    .bul-star {
        flex:1;
    }
    .button-base {
        padding:0 1rem;
    }
    @media screen and (max-width:1023px) {
        flex-direction:column;
        margin-top:2rem;
        padding-left:1rem;
        align-items:flex-start;
        .bul-star {
            font-size:1.4rem;
        }
        .button-base {
            margin-left:auto;
            min-height:3rem;
            font-size:1.4rem;
        }
    }
}
.pink-line-box {
    border-top:0.2rem solid var(--black);
    border-bottom:1px solid var(--form_line);
    background-color:#FFF6F6;
    padding:4rem 2rem;
    display:flex;
    gap:2rem;
    align-items:center;
    &[data-color="gray"] {
        background-color:#FAFAFA;
        @media screen and (max-width:1023px) {
            .btn-group {
                .button-base {
                    min-height:4rem;
                }
            }
        }
    }
    &[data-color="skyblue"] {
        background-color:#F2F9FF;
    }
    .text-30 {
        flex:1;
        font-weight:600;
    }
  
    .btn-group {
        display:flex;
        gap:2rem;
        align-items:stretch;
        span {
           color:#ccc;
           font-size:2.2rem; 
        }
        .text-30 {
            flex:none;
            white-space:nowrap;
            font-weight:500;
        }
        .button-base {
            min-width:15rem;
            padding:0 1rem;
        }
    }
    @media screen and (max-width:1023px) {
        padding:2rem 1.6rem;
        margin-top:3rem;
        flex-direction:column;
        align-items:flex-start;
        .btn-group {
            gap:1rem;
            width:100%;
            .button-base {
                flex:1;
                min-height:3rem;
                font-size:1.4rem;
                min-width:0;
            }
        }
        .info-group {
            width: 100%;
            text-align: right;
            justify-content: flex-end;
        }
    }
}
.center-line-box {
    display:flex;
    border-top:0.2rem solid var(--black);
    border-bottom:1px solid var(--form_line);
    justify-content:center;
    align-items:center;
    padding:4rem 2rem;
    gap:4rem;
    flex-direction:column;
    text-align:center;
    font-size:2.4rem;
    line-height:1.4;
    font-weight:500;
    margin-bottom:8rem;

    @media screen and (max-width:1023px) {
        padding:3rem 1rem;
        font-size:1.5rem;
        margin-bottom:4rem;
        gap:2rem;
    }
}
.beige-box {
    background-color:#FAF5EE;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:4rem 2rem;
    margin:0 auto;

    .beige-box-dl {
        display:flex;
        flex-direction:column;
        font-size:2rem;
        line-height:1.4;
        font-weight:500;
        gap:0.8rem;

        .beige-box-dl-item {
            display:flex;
        }
        .beige-box-dt {
            width:17rem;
        }

        @media screen and (max-width:1023px) {
            font-size:1.5rem;

            .beige-box-dt {
                width:9rem;
            }
        }
    }
   
    
    @media screen and (max-width:1023px) {
        padding:1.2rem 1rem;
    }
    
}
.sign-wrap {
    display:flex;
    width:100%;
    font-weight:500;
    text-align:center;
    justify-content:center;
    flex-direction:column;
    font-size:3rem;
    line-height:1.4;
    gap:0.8rem;
    b {
        font-weight:600;
    }
    @media screen and (max-width:1023px) {
        font-size:2rem;
    }
}
.conts-body {
    display:flex;
    border-top:0.2rem solid var(--black);
    border-bottom:1px solid var(--form_line);
    flex-direction:column;
    justify-content:center;
    padding:4rem 0;

    @media screen and (max-width:1023px) {
        padding:2rem 0;
    }
}
.conts-ul {
    ul {
        margin-top:0.4rem;
    }
    [data-bul="hyphen"] {
        font-size:2rem;
        color:#333;
    }
    @media screen and (max-width:1023px) {
        li {
            font-size:1.5rem;
        }
        [data-bul="hyphen"] {
            font-size:1.5rem;
        }
    }
}
.conts-dl {
    padding-left:2rem;
    .conts-dl-tit {
        display:block;
        font-size:2.4rem;
        font-weight:600;
        line-height:1.3;
        color:#000;
        margin-bottom:1.6rem;
        margin-left:-1rem;
        @media screen and (max-width:1023px) {
            font-size:1.7rem;
        }
    }
    dd[data-bul="dot"] {
        font-size:1.8rem;
    }
    @media screen and (max-width:1023px) {
        margin-top:3rem;
        dd[data-bul="dot"] {
            font-size:1.4rem;
            &::before {
                top:0.8rem
            }
        }
    }
}
.app-detils-info {
    .app-detils-info-tit {
        font-size:4rem;
        font-weight:600;
    }
    .app-detils-info-txt {
        font-size:2.4rem;
        font-weight:500;
    }
    @media screen and (max-width:1023px) {
        .app-detils-info-tit {
            font-size:2.6rem;
        }
        .app-detils-info-txt {
            font-size:1.4rem;
        }
    }
}

.text-30 {
    font-size:3rem;
    color:var(--black);
    line-height:3.6rem;
    word-break:keep-all;
    @media screen and (max-width:1023px) {
        font-size:2rem;
        line-height:2.6rem;
    }
}
.text-24 {
    font-size:2.4rem;
    color:var(--black);
    line-height:1.4;
    word-break:keep-all;
    font-weight:500;
    @media screen and (max-width:1023px) {
        font-size:1.6rem;
    }
}
.text-20 {
    font-size:2.0rem;
    color:var(--black);
    line-height:1.4;
    word-break:keep-all;
    font-weight:500;
    @media screen and (max-width:1023px) {
        font-size:1.4rem;
    }
}
.text-18 {
    font-size:1.8rem;
    color:var(--black);
    line-height:1.4;
    word-break:keep-all;
    font-weight:500;
    @media screen and (max-width:1023px) {
        font-size:1.2rem;
    }
}
.fake-table-box {
    border-top:0.2rem solid var(--black);
    /* ~ .fake-table-box {
        margin-top:4rem;
    } */
    &[data-type="check1"] {
        .fake-table-item-cell[data-type="title"] {
            text-align:left;
            justify-content:flex-start;
            padding:0 2rem;
        }
        .fake-table-item-cell {
            padding:0 4rem;
        }
    }
    .fake-table-with-button {
        display:flex;
        @media screen and (max-width:1023px) {
            flex-direction:column;
        }
    }
    .fake-table-row-group {
        flex:1;
    }
    .fake-table-row-button {
        flex-shrink:0;
        padding:1.6rem 2rem;
        border-bottom:1px solid var(--form_line);
        .button-base {
            height:100%;
            min-width:18rem;
        }
        @media screen and (max-width:1023px) {
            border-bottom:none;
            padding:2rem 0 0;
            .button-base {
                width:100%;
            }
        }
    }
    .fake-table-row {
        border-bottom:1px solid var(--form_line);
        display:flex;
        
        &[data-align="col"] {
            .fake-table-item {
                flex-direction:column;
                @media screen and (max-width:1023px) {
                    flex-direction:row;
                }
                ~ .fake-table-item {
                    border-left:1px solid var(--form_line);
                    @media screen and (max-width:1023px) {
                        border-left:none;
                        width:100%;
                    }
                }
                .fake-table-item-cell {
                    width:100%;
                    justify-content:center;
                    @media screen and (max-width:1023px) {
                        justify-content:flex-start;
                        .button-base {
                            min-height:3rem;
                            min-width:0;
                            padding:0.2rem 1.2rem;
                            font-size:1.4rem;
                        }
                    }
                    &[data-type="title"] {
                        border-bottom:1px solid var(--form_line);
                        @media screen and (max-width:1023px) {
                            width:10.5rem;
                            border-bottom:none;
                        }
                    }
                }
                &[data-size="20%"] {
                    width:20%;
                    flex:none;
                    @media screen and (max-width:1023px) {
                        width:100%;
                    }
                }
            }
            & ~ .fake-table-row {
                .fake-table-item-cell[data-type="title"] {
                    display:none;
                }
            }
        }
        
        @media screen and (max-width:1023px) {
            flex-direction:column;
        }
    }
    .fake-table-item {
        display:flex;
        flex:1;
        /*flex-wrap:wrap;*/
        &[data-flex="2"] {
            flex:2;
        }
        &[data-flex="3"] {
            flex:3;
        }
        &[data-flex="4"] {
            flex:4;
        }
        &[data-rows="2"] {
            [data-type="title"] {
                min-height:16rem;
                /*@media screen and (max-width:1400px) {
                    min-height:12.8rem;
                }*/
                @media screen and (max-width:1023px) {
                    min-height:4rem;
                }
            }
        }
        .fake-table-item-cell {
            min-height:8rem;
            display:flex;
            align-items:center;
            font-size:2rem;
            color:var(--gray_300);
            font-weight:500;
            line-height:2.4rem;
            padding:1.8rem 2.4rem;
            word-break:keep-all;
            gap:1rem;
            &[data-type="title"] {
                justify-content:center;
                padding:0.8rem;
                flex-shrink:0;
                width:18rem;
            }
            &[data-bg="sky"] {
                background-color:#F2F9FF;
            }
            &[data-bg="gray"] {
                background-color:#FAFAFA;
            }
            &:not([data-type="title"]) {
                flex:1;
            }
            .form-select {
                width:100%;
            }
            .form-input {
                min-width:0;
            }
        }
        /*@media screen and (max-width:1400px) {
            .fake-table-item-cell {
                font-size:1.6rem;
                padding:0.8rem 1.2rem;
                min-height:6.4rem;
                &[data-type="title"] {
                    width:16rem;
                }
            }
        }*/
        @media screen and (max-width:1023px) {
            .fake-table-item-cell {
                min-height:4rem;
                font-size:1.2rem;
                line-height:2rem;
                padding:1.2rem 1rem;
                &[data-type="title"] {
                    width:10.5rem;
                    justify-content:flex-start;
                    border-right:1px solid var(--form_line);
                }
            }
        }
    }
    .fake-table-item-group {
        display:flex;
        .fake-table-item {
            flex:1;
        }
        @media screen and (max-width:1023px) {
            flex-direction:column;
            flex:1;
        }
    }
    .fake-table-item-cell-group {
        @media screen and (max-width:1023px) {
            display:flex;
            width:100%;
        }
    }
    @media screen and (max-width:1023px) {
        /* & ~ .fake-table-box {
            margin-top:2rem;
        } */
        &[data-style="mobile-full-bg"] {
            padding:3rem 1rem;
            border-bottom:1px solid var(--form_line);
            .fake-table-row {
                border-bottom:none;
                ~ .fake-table-row {
                    margin-top:2rem;
                }
            }
            .fake-table-item-cell {
                min-height:0;
                padding:0;
                &[data-type="title"] {
                    font-size:1.5rem;
                    width:100%;
                    padding:0;
                    margin-bottom:1rem;
                    border-right:none;
                }
            }
            &[data-bg="sky"] {
                background-color:#F2F9FF;
            }
            .fake-table-item {
                flex-wrap:wrap;
                ~ .fake-table-item {
                    margin-top:2rem;
                }
            }
        }
        &:not([data-style="mobile-full-bg"]) {
            .fake-table-item ~ .fake-table-item {
                border-top:1px solid var(--form_line);
            }
        }
    }
}
.print-logo {display:none;}

@media print {
    * {
        -webkit-print-color-adjust:exact;
        print-color-adjust:exact;
    }
    
    html {
        font-size:5px;
    }
    .base-wrap {
        .sub-depth-list,
        .breadcrumbs,
        .sub-title,
        .sub-depth-nav,
        .base-header,
        .base-footer {
            display:none !important;
        }
        .app-detils-info {
            margin-top:0 !important;
        }
        .table-data {
            thead, tfoot, tbody {
                th, td {
                    padding:1rem;
                }
            }
        }
        .pink-line-box {
            padding:2rem;
        }
        .print-logo {
            display:block;
            position:absolute;
            top:1cm; 
            right:0;
            width:3cm;
        }
    }
}

.faq-list {
    margin:0 auto;
    border-top:1px solid var(--black);
    .mdl-acco-head-wrap {
        width:100%;
        display:flex;
        align-items:center;
        gap:3.8rem;
        padding:2.6rem 4rem;
        font-size:2.4rem;
        font-weight:500;
        .mdl-acco-step {
            color:var(--navy);
            font-size:2.4rem;
        }
        .mdl-acco-tit {
            color:var(--black);
        }
        @media screen and (max-width:1023px) {
            padding:1.2rem 1rem;
            font-size:1.5rem;
            gap:1.6rem;
        }
    }
    .mdl-acco-item {
        border-bottom:1px solid var(--black);
        &[data-expanded="true"] {
            .mdl-acco-btn {
                &::after {
                    background-image:url("../../images/common/ico-minus.svg");
                }
            }
        }
    }
    .mdl-acco-btn {
        display:flex;
        padding-right:4rem;
        justify-content:flex-end;
        align-items:center;
        &::after {
            content:'';
            display:block;
            aspect-ratio:1/1;
            width:3rem;
            background-position:50% 50%;
            background-repeat:no-repeat;
            background-size:contain;
            background-image:url("../../images/common/ico-plus.svg");
        }
        @media screen and (max-width:1023px) {
            padding-right:1rem;
            &::after {
                width:1.5rem;
            }
        }
    }
    .mdl-acco-wrap {
        background-color:#F2F9FF;
        border-top:1px solid var(--black);
        padding:2rem 4rem 6rem;
        display:flex;
        flex-direction:column;
        font-size:2rem;
        line-height:1.4;
        gap:2rem;
        @media screen and (max-width:1023px) {
            padding:2rem 1rem;
            gap:1rem;
        }
    }
    
    .faq-list-a {
        display:flex;
        gap:4rem;
        @media screen and (max-width:1023px) {
           gap:1rem;
        }

    }
    .faq-list-a-tit {
        font-size:2.4rem;
    }
    .faq-list-a-body {
        display:flex;
        flex-direction:column;
        gap:2.6rem;
        font-size:2rem;
        line-height:1.4;
        font-weight:500;
        word-break:keep-all;
        color:var(--black);


        @media screen and (max-width:1023px) {
            font-size:1.5rem;
            line-height:2.2rem;
        }
    }
     
}

.faq-list[data-ctg="2"] {
    .mdl-acco-item[data-ctg="3"],
    .mdl-acco-item[data-ctg="4"] {
        display:none !important;
    }
}
.faq-list[data-ctg="3"] {
    .mdl-acco-item[data-ctg="2"],
    .mdl-acco-item[data-ctg="4"] {
        display:none !important;
    }
}
.faq-list[data-ctg="4"] {
    .mdl-acco-item[data-ctg="2"],
    .mdl-acco-item[data-ctg="3"] {
        display:none !important;
    }
}
.line-white-box {
    border-top:0.2rem solid var(--black);
    border-bottom:1px solid var(--form_line);
    padding:4rem 2rem;
    .line-white-desc {
        font-size:2.4rem;
        line-height:3.2rem;
        color:var(--black);
        font-weight:500;
        word-break:keep-all;
        text-align:center;
    }
    .color-orange {
        color:var(--orange);
    }
    .form-mini {
        max-width:30rem;
        margin:4rem auto 0;
    }
    @media (max-width:1023px) {
        padding:3rem 2rem;
        .line-white-desc {
            font-size:1.5rem;
            line-height:2.2rem;
        }
        .form-mini {
            max-width:24rem;
            margin:2rem auto 0;
        }
    }
}
.circle-check {
    border-radius:50%;
    width:3rem;
    height:3rem;
    border:0.2rem solid #ED0000;
}

.as-content {
    .as-content-tit {
        font-size:2.8rem;
        font-weight:600;
        margin-bottom:0.8rem;
    }
    .as-content-txt {
        font-size:2.4rem;
        font-weight:500;
        color:#333;
    }
    [data-bul="dot"] {
        font-size:2.4rem;
        font-weight:500;
        color:#333;
    }

    @media (max-width:1023px) {
        .as-content-tit {
            font-size:1.7rem;
            font-weight:600;
            margin-bottom:0.4rem;
        }
        .as-content-txt {
            font-size:1.4rem;
            font-weight:500;
            color:#333;
        }
        [data-bul="dot"] {
            font-size:1.4rem;
            font-weight:500;
            color:#333;
        }
    }
    .table-data.repair {
        margin-top:-2rem;
    }
}
.bs-step {
    display:flex;
    gap:2rem;
    width:100%;

    .bs-step-item {
        flex:1;
        border:1px solid #ccc;
        background-color:#FBFBFB;
        border-radius:0.8rem;
        display:flex;
        justify-content:center;
        align-items:center;
        height:31.7rem;
        flex-direction:column;
        padding:2.4rem 1.2rem;
        gap:3rem;
    }
    .bs-step-tit {
        font-size:2.8rem;
        font-weight:700;
        color:var(--navy);
        line-height:1.4;
        text-align:center;
    }
    .bs-step-txt {
        font-size:2rem;
        font-weight:500;
        color:#333;
        line-height:1.4;
        text-align:center;
    }
    @media (max-width:1400px) {
        .bs-step-txt {
            br{display:none;}
        }
    }
    @media (max-width:1023px) {
        gap:1rem;
        flex-wrap:wrap;
        .bs-step-item {
            width:calc((100% - 1rem) / 2);
            border-radius:0.4rem;
            height:auto;
            padding:3rem 1.6rem;
            gap:1.6rem;
        }

        .bs-step-tit {
            font-size:1.5rem;
            width:16rem;
            text-align:center;
        }
        .bs-step-txt {
            flex:1;
            font-size:1.2rem;
            br {
                display:none;
            }
        }
    }
}
.mobile-hidden {
    @media (max-width:767px) {
        display:none;
    }
}
.mt-60 {
    margin-top:6rem;
    @media (max-width:1023px) {
        margin-top:3rem;
    }
}
.form-desc {
    font-size:1.6rem;
    margin-top:1.6rem;
    line-height:1.9rem;
    color:var(--gray_300);
    @media (max-width:1023px) {
        font-size:1.2rem;
        margin-top:.4rem;
        line-height:1.6rem;
    }
}
.consulting-desc {
    display:flex;
    flex-direction:column;
    gap:2rem;
    @media (max-width:1023px) {
        gap:1rem;
    }
}