.breadcrumbs {
    display:flex;
    justify-content:flex-end;
    padding:6rem 0;
    ol {
        display:flex;
        justify-content:flex-end;
        gap:2.4rem;
    }
    li {
        display:flex;
        font-size:1.8rem;
        color:#ccc;
        align-items:center;
    }
    li::before {
        content:"";
        display:block;
        width:0.8rem;
        height:1.2rem;
        background:url(../../images/common/ico-breadcrumbs-arrow.svg) no-repeat 50% 50% / 0.8rem;
        margin-right:2.4rem;
    }
    li:first-child::before {
        display:none;
    }
    li:last-child {
        color:var(--black);
    }
    @media screen and (max-width:1023px) {
        padding:3rem 0;
        ol {
            gap:1rem;
        }
        li {
            font-size:1.5rem;
            &::before {
                margin-right:1rem;
            }
        }
    }
}
.card-artera {
    max-width:149rem;
    width:auto;
    display:flex;
    flex-wrap:wrap;
    gap:8rem 4rem;
    margin:0 auto;
    .card-artera-item {
        width:calc((100% - 8rem) / 3);
    }
    @media screen and (max-width:1023px) {
        gap:4rem 2rem;
        .card-artera-item {
            width:calc((100% - 2rem) / 2);
        }
    }
    @media screen and (max-width:767px) {
        .card-artera-item {
            width:100%;
        }
    }
}
.card-artera-item {
    display:flex;
    flex-direction:column;
    position:relative;
    box-shadow:0.6rem 0.6rem 3rem rgba(0,0,0,0.2);
    background-color:var(--white);
    .title-size-34 {
        margin-bottom:2rem;
        span {
            display:block;
        }
    }
    .card-artera-summary {
        display:flex;
        flex-direction:column;
        gap:2rem;
        @media screen and (max-width:1023px) {
            gap:1rem;
        }
    }
    .card-artera-summary-item {
        display:flex;
        gap:2rem;
        font-size:2rem;
        line-height:2.4rem;
        font-weight:500;
        dt {
            width:8.7rem;
            flex-shrink:0;
        }
        dd {
            flex:1;
            word-break:keep-all;
        }
        &[data-type="point"] {
            dd {
                color:var(--black);
                font-weight:600;
            }
        }
        @media screen and (max-width:1023px) {
            font-size:1.5rem;
            line-height:1.8rem;
            gap:1.2rem;
            dt {
                width:5.6rem;
            }
        }
    }
}
.progress-area {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    gap:2.4rem;
    @media screen and (max-width:1023px) {
        gap:1.2rem;
    }
}
.progress-value {
    flex-shrink:0;
}
.progress-bar {
    height:.4rem;
    flex:1;
    background-color:#D9D9D9;
    position:relative;
    .progress-bar-value {
        height:100%;
        position:absolute;
        left:0;
        top:0;
        background-color:var(--skyblue);
    }
}
.card-artera-link {
    width:100%;
    display:flex;
    gap:1.6rem;
    justify-self:flex-end;
    align-self:flex-end;
    padding:0 5.6rem 5.6rem;
    .button-base {
        min-width:0;
        flex:1;
    }
    @media screen and (max-width:1023px) {
        padding:0 2rem 3rem;
        gap:1rem;
        .button-base[data-size="size-60"] {
            min-height:3.8rem;
            font-size:1.6rem;
        }
    }
}
.card-artera-tel {
    margin-bottom:4rem;
    display:flex;
    font-size:2.4rem;
    color:var(--orange);
    align-items:center;
    font-weight:600;
    gap:0.8rem;
    position:relative;
    .tel-mobile-view {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        display:none;
        @media screen and (max-width:1023px) {
            display:block;
        }
    }
    &::before {
        content:"";
        display:block;
        aspect-ratio:33/34;
        width:2rem;
        background:url(../../images/common/ico-tel.svg) no-repeat 50% 50%;
        background-size:contain;
    }
    @media screen and (max-width:1023px) {
        font-size:2rem;
        margin-bottom:2rem;
        &::before {
            width:1.6rem;
        }
    }
}
.card-artera-img {
    width:100%;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-shrink:0;
    aspect-ratio:501/327;
    img {
        display:block;
        width:100%;
        height:100%;
        object-fit:cover;
        
    }
}
.card-artera-cont {
    padding:5rem 5.6rem 4rem;
    width:100%;
    flex:1;
    display:flex;
    flex-direction:column;
    @media screen and (max-width:1023px) {
        padding:2rem;
    }
}
.card-artera-state {
    position:absolute;
    top:0;
    left:0;
    color:var(--white);
    background:var(--orange);
    display:flex;
    justify-content:center;
    align-items:center;
    height:5.4rem;
    padding:0 1.6rem;
    min-width:10.4rem;
    font-size:2rem;
    font-weight:600;
    &[data-state="complete"] {
        background-color:var(--black);
    }
    &[data-state="ing"] {
        background-color:var(--orange);
    }
    &[data-state="wait"] {
        background-color:var(--skyblue);
        color:var(--navy);
    }
    @media screen and (max-width:1023px) {
        height:3.6rem;
        min-width:7.8rem;
        font-size:1.6rem;
        padding:0 0.8rem;
    }
}

.paging {
    display:flex;
    justify-content:center;
    align-items:center;
    padding:8rem 0;
    gap:0.8rem;
    button {
        display:flex;
        justify-content:center;
        align-items:center;
        font-size:2rem;
        font-weight:500;
        color:var(--black);
        border:1px solid #ccc;
        border-radius:50%;
        min-width:4.7rem;
        padding:0 0.4rem;
        height:4.7rem;
        flex-shrink:0;
        &[data-selected="true"] {
            background-color:var(--navy);
            color:var(--white);
        }
    }
    .paging-text {
        padding:0 0.4rem;
    }
    .paging-first {
        background:url(../../images/common/paging-arrow2.svg) no-repeat 50% 50% / 2.1rem;
    }
    .paging-last {
        background:url(../../images/common/paging-arrow2.svg) no-repeat 50% 50% / 2.1rem;
        rotate:180deg;
    }
    .paging-next {
        background:url(../../images/common/paging-arrow.svg) no-repeat 50% 50% / 2.1rem;
        rotate:180deg;
    }
    .paging-prev {
        background:url(../../images/common/paging-arrow.svg) no-repeat 50% 50% / 2.1rem;
    }
    @media screen and (max-width:1023px) {
        padding:6rem 0;
        button {
            min-width:3.4rem;
            height:3.4rem;
            font-size:1.4rem;
            line-height:1;
        }
    }
}
.paging-group {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:0.8rem;
    margin:0 1.2rem;
    @media screen and (max-width:1023px) {
        margin:0;
    }
}

.artera-detail {
    max-width:160rem;
    width:auto;
    display:flex;
    flex-wrap:wrap;
    gap:6rem;
    margin:0 auto;
    .btn-area-center {
        .button-base {
            min-width:30rem;
        }
    }
    @media screen and (max-width:1023px) {
        gap:2rem;
        .btn-area-center {
            .button-base {
                min-height:5rem;
            }
        }
    }
    @media screen and (max-width:767px) {
        .btn-area-center {
            .button-base {
                min-width:16rem;
            }
        }
    }
}

.artera-detail-tit {
    display:flex;
    width:100%;
    justify-content:space-between;
    padding-bottom:3.4rem;
    border-bottom:1px solid #ccc;
    .title-size-40 {
        padding-right:20.8rem;
    }
    @media screen and (max-width:1023px) {
        padding-bottom:3rem;
        .title-size-40 {
            padding-right:0;
        }
    }
}
.artera-detail-head {
    display:flex;
    flex-direction:row;
    position:relative;
    width:100%;
    gap:8rem;
    @media screen and (max-width:1023px) {
        flex-direction:column;
        gap:3rem;
    }
}
.artera-detail-summary {
    display:flex;
    flex-direction:column;
    gap:4rem;
    margin-top:4rem;
    margin-bottom:4rem;
    @media screen and (max-width:1023px) {
        gap:1rem;
        margin-top:2.8rem;
    }
}
.artera-detail-item {
    display:flex;
    gap:5rem;
    font-size:2.4rem;
    line-height:3.2rem;
    font-weight:600;
    align-items:flex-start;
    .artera-detail-title {
        width:9rem; 
        flex-shrink:0; 
        display:flex; 
        align-items:center;
    }
    .artera-detail-content {
        flex:1;
        font-weight:400;
        word-break:keep-all;
    }
    &[data-type="point"] {
        .artera-detail-content {
            font-size:3.2rem;
            font-weight:700;
            color:var(--orange);
        }
    }
    .progress-bar {
        height:.8rem;
        .progress-bar-value {
            background-color:var(--orange);
        }
    }
    @media screen and (max-width:1023px) {
        font-size:1.5rem;
        gap:1.6rem;
        line-height:2.6rem;
        .artera-detail-title {
            width:5.6rem;
        }
        &[data-type="point"] {
            .artera-detail-content {
                font-size:2.4rem;
            }
        }
    }
}
.artera-detail-tel {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:var(--skyblue);
    color:var(--navy);
    font-size:2.4rem;
    font-weight:600;
    height:6rem;
    margin-top:auto;
    position:relative;
    @media screen and (max-width:1023px) {
        font-size:1.8rem;
        height:5rem;
    }
    .tel-mobile-view {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        display:none;
        @media screen and (max-width:1023px) {
            display:block;
        }
    }
}
.artera-detail-img {
    width:49.9375%;
    aspect-ratio:799/523;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-shrink:0;
    align-self:flex-start;
    @media screen and (max-width:1023px) {
        width:100%;
    }
    img {
        display:block;
        width:100%;
        height:100%;
        object-fit:cover;
    }
}
.artera-detail-cont {
    padding:1.8rem 0 0 0;
    width:100%;
    flex:1;
    display:flex;
    flex-direction:column;
    position:relative;
    .artera-detail-link {
        position:absolute;
        top:1.2rem;
        right:0;
        @media screen and (max-width:1023px) {
            position:static;
            margin-top:1.2rem;
            .button-base {
                min-height:5rem;
                width:100%;
            }
        }
    }
    @media screen and (max-width:1023px) {
        padding-top:0;
        .artera-detail-link {
            top:0;
        }
    }
}
.artera-detail-state {
    position:absolute;
    top:0;
    left:0;
    color:var(--white);
    font-size:2rem;
    background:var(--orange);
    display:flex;
    justify-content:center;
    align-items:center;
    height:5.4rem;
    padding:0 2.6rem;
    @media screen and (max-width:1023px) {
        height:3.6rem;
        padding:0 1.8rem;
        font-size:1.6rem;
    }
}

.artera-detail-body { 
    display:block;
    width:100%;
    margin:0 auto;
}
.artera-detailview-img {
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-shrink:0;
    position:relative;
    img {
        display:block;
        max-width:none;
        width:100%;
        height:100%;
        object-fit:cover;
        object-position:center;
    }
}

.swiper-viewmap-wrap {
    width:100%;
    display:flex;
    gap:2rem;
    justify-content:space-between;
    aspect-ratio:1600/626;
    &[data-dir="horizontal"] {
        flex-direction:column;
        gap:1rem;
        .swiper-viewmap-thumbs {
            width:100%;
            height:23.4rem;
        }
        .artera-detailview-img {
            aspect-ratio:640/753;
            width:auto;
            height:auto;
        }
        .swiper-viewmap-thumbs .artera-detailview-img {
            aspect-ratio:31/23;
            width:auto;
            height:auto;
        }
        .swiper-viewmap-thumbs {
            height:auto;
        }
        .swiper-vertical>.swiper-wrapper {
            flex-direction:row;
        }
    }
    &[data-dir="vertical"] {
        .swiper-vertical>.swiper-wrapper {
            flex-direction:column;
        }
    }
    @media screen and (max-width:1023px) {
        aspect-ratio:inherit;
    }
}
.swiper-viewmap-thumbs {
    margin:0 !important;
}
.swiper-viewmap {
    flex:1;
    width:79.25%;
    aspect-ratio:1268/626;
    margin:0 !important;
    @media screen and (max-width:1023px) {
        aspect-ratio:640/753;
        width:100%;
    }
}
.swiper-viewmap-thumbs {
    width:calc(20.75% - 2rem);
    .swiper-slide {
        height:auto !important; 
        opacity:0.5;
    }
    .swiper-slide-thumb-active {
        opacity:1;
    }
}
.swiper-viewmap-thumbs .artera-detailview-img {
    aspect-ratio:311/197;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-shrink:0;
}
.swiper-viewmap .swiper-button-prev,
.swiper-viewmap .swiper-button-next {
    position:absolute !important;
    width:6rem;
    height:6rem;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    margin:0;
    top:50%;
    opacity:1;
    left:auto;
    right:auto;
    background:rgba(255,255,255,0.8) url(../../images/common/swiper-arrow-dark.svg) no-repeat 50% 50% / 1.2rem;
    @media screen and (max-width:1023px) {
        width:3rem;
        height:3rem;
        background-size:0.6rem;
    }
}
.swiper-viewmap .swiper-button-prev {
    left:4rem;
    @media screen and (max-width:1023px) {
        left:1.5rem;
    }
}
.swiper-viewmap .swiper-button-next {
    transform:rotate(180deg);
    right:4rem;
    @media screen and (max-width:1023px) {
        right:1.5rem;
    }
}
.box-white {
    background-color:var(--white);
    padding:8rem;
    @media screen and (max-width:1023px) {
        padding:4rem 2.4rem;
    }
}
.guide-list-title {
    text-align:center;
    font-size:4rem;
    line-height:5.2rem;
    word-break:keep-all;
    margin-bottom:6rem;
    font-weight:500;
    @media screen and (max-width:1023px) {
        font-size:2rem;
        line-height:2.8rem;
        margin-bottom:3rem;
    }
}
.guide-list {
    max-width:81.6rem;
    margin:0 auto;
    border-top:1px solid var(--black);
    .mdl-acco-head-wrap {
        width:100%;
        display:flex;
        align-items:center;
        gap:4.8rem;
        padding:2.6rem 4rem;
        font-size:3rem;
        font-weight:500;
        .mdl-acco-step {
            color:var(--navy);
        }
        .mdl-acco-tit {
            color:var(--black);
        }
        @media screen and (max-width:1023px) {
            padding:1.2rem 1rem;
            font-size:1.8rem;
            gap:1.6rem;
        }
    }
    .mdl-acco-item {
        border-bottom:1px solid var(--black);
        &[data-expanded="true"] {
            .mdl-acco-btn {
                &::after {
                    background-image:url("../../images/common/ico-minus.svg");
                }
            }
        }
    }
    .mdl-acco-btn {
        display:flex;
        padding-right:4rem;
        justify-content:flex-end;
        align-items:center;
        &::after {
            content:'';
            display:block;
            aspect-ratio:1/1;
            width:3rem;
            background-position:50% 50%;
            background-repeat:no-repeat;
            background-size:contain;
            background-image:url("../../images/common/ico-plus.svg");
        }
        @media screen and (max-width:1023px) {
            padding-right:1rem;
            &::after {
                width:1.5rem;
            }
        }
    }
    .mdl-acco-wrap {
        border-top:1px solid var(--black);
        padding:4rem;
        display:flex;
        flex-direction:column;
        gap:2rem;
        @media screen and (max-width:1023px) {
            padding:2rem 1rem;
            gap:1rem;
        }
    }
    .guide-desc {
        font-size:2.4rem;
        line-height:3.4rem;
        font-weight:500;
        word-break:keep-all;
        color:var(--black);
        .guide-point {
            color:var(--orange);
        }
        @media screen and (max-width:1023px) {
            font-size:1.5rem;
            line-height:2.2rem;
        }
    }
    .guide-title {
        font-size:2.4rem;
        color:var(--orange);
        font-weight:700;
        @media screen and (max-width:1023px) {
            font-size:1.5rem;
        }
    }
    .guide-desc-small {
        font-size:2rem;
        line-height:2.8rem;
        font-weight:500;
        @media screen and (max-width:1023px) {
            font-size:1.4rem;
            line-height:2.2rem;
        }
    }
    .link-underline {
        text-decoration:underline;
        text-underline-offset:0.4rem;
        @media screen and (max-width:1023px) {
            text-underline-offset:0.2rem;
        }
    }
    .guide-desc-gray {
        color:var(--gray_800);
    }
}
.tab-sub-title {
    font-size:3.6rem;
    color:var(--black);
    line-height:4.2rem;
    font-weight:600;
    margin-bottom:4rem;
    ~ .tab-sub-title {
        margin-top:8rem;
    }
    @media screen and (max-width:1023px) {
        font-size:2.4rem;
        line-height:3.6rem;
        margin-bottom:2rem;
        ~ .tab-sub-title {
            margin-top:4rem;
        }
    }
}
.construction-step {
    display:flex;
    flex-wrap:wrap;
    gap:1.6rem;
    padding-top:4rem;
    margin-bottom:8rem;
    .construction-step-item {
        height:12rem;
        display:flex;
        align-items:center;
        justify-content:center;
        text-align:center;
        font-size:2.4rem;
        line-height:2.8rem;
        border-radius:0 2rem 2rem 0;
        background-color:#eee;
        color:#bbb;
        width:calc((100% - 9.6rem) / 7);
        font-weight:600;
        &[data-state="selected"] {
            background-color:var(--skyblue);
            color:var(--navy);
        }
    }
    @media screen and (max-width:1023px) {
        gap:0.4rem;
        padding-top:0;
        margin-bottom:4rem;
        .construction-step-item {
            border-radius:0 1rem 1rem 0;
            height:4.6rem;
            font-size:1.5rem;
            line-height:1.8rem;
            width:calc((100% - 2.4rem) / 7);
        }
    }
    @media screen and (max-width:767px) {
        .construction-step-item {
            width:calc((100% - 1.2rem) / 4);
        }
    }
}
.year-month-area {
    background-color:#F8F8F8;
    height:12rem;
    margin-bottom:4rem;
    display:flex;
    align-items:center;
    gap:1.6rem;
    padding-right:2rem;
    .year-choice {
        padding:0 4rem;
        display:flex;
        align-items:center;
        gap:4.8rem;
        flex-shrink:0;
        .year-choice-value {
            font-size:4rem;
            line-height:1;
            font-weight:600;
            color:var(--navy);
        }
        .btn-year-choice {
            width:6rem;
            height:6rem;
            border-radius:999em;
            border:1px solid var(--navy);
            background-image:url(../../images/common/swiper-arrow-dark.svg);
            background-repeat:no-repeat;
            background-position:50% 50%;
            background-size:1.2rem;
            &[data-type="next"] {
                transform:rotate(180deg);
            }
            &:hover {
                background-color:var(--navy);
                background-image:url(../../images/common/swiper-arrow.svg);
            }
        }
    }
    .month-choice {
        flex:1;
        display:flex;
        align-items:center;
        flex-wrap:wrap;
        .btn-month-choice {
            width:calc(100% / 12);
            text-align:center;
            font-size:2.4rem;
            font-weight:500;
            color:#ccc;
            &[data-state="selected"] {
                font-size:3.2rem;
                font-weight:600;
                color:var(--navy);
            }
        }
    }
    .view-type-choice {
        flex:1;
        display:flex;
        gap:2.4rem;
        justify-content:flex-end;
        padding-right:2rem;
        [data-state="selected"] {
            .icon-list-type1 {
                background-image:url("../../images/common/ico-list-type1.svg");
            }
            .icon-list-type2 {
                background-image:url("../../images/common/ico-list-type2.svg");
            }
        }
    }
    @media screen and (max-width:1023px) {
        flex-wrap:wrap;
        height:auto;
        padding:3rem 2rem;
        gap:2.4rem;
        .year-choice {
            width:100%;
            justify-content:space-between;
            padding:0;
            .year-choice-value {
                font-size:3.2rem;
            }
            .btn-year-choice {
                width:4rem;
                height:4rem;
                background-size:0.6rem;
            }
        }
        .month-choice {
            .btn-month-choice {
                font-size:1.6rem;
                &[data-state="selected"] {
                    font-size:2.4rem;
                }
            }
        }
        .view-type-choice {
            gap:1rem;
            padding-right:0;
            .button-base {
                flex:1;
                min-height:5rem;
                min-width:0;
            }
        }
    }
    @media screen and (max-width:767px) {
        margin-left:-2rem;
        margin-right:-2rem;
        margin-bottom:2rem;
        .month-choice {
            gap:1.6rem 0;
            .btn-month-choice {
                width:calc(100% / 6);
            }
        }
    }
}
.icon-list-type1,
.icon-list-type2 {
    aspect-ratio:1/1;
    background-size:contain;
    background-position:50% 50%;
    background-repeat:no-repeat;
    width:2rem;
}
.icon-list-type1 {
    background-image:url("../../images/common/ico-list-type1-dark.svg");
}
.icon-list-type2 {
    background-image:url("../../images/common/ico-list-type2-dark.svg");
}
.swiper-dayselect { 
    position: relative;
    padding:0 8rem;
    margin-bottom: 8rem;
    .swiper-slide {
        button {
            width: 100%;
            height: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.4rem;
            color:#888;
            border: 1px solid #ccc;
            border-left:0;
           
            &.selected {
                background-color: var(--navy);
                border-color: var(--navy);
                color: #fff;
            }
        }
    }
    .swiper-wrapper {
        border-left:1px solid #ccc;
    }
    .swiper-button-next {
        position: absolute;
        top:0;
        right:0;
        left:auto;
        width: 8.1rem;
        height: 8rem;
        border: 1px solid #ccc;
        background-image: url(../../images/common/swiper-arrow-gray.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 1.2rem;
        margin-top:0;
        rotate: 180deg;
         opacity: 1 !important;
    }
    .swiper-button-prev {
        position: absolute;
        top:0;
        left:0;
        right: auto;
        width: 8.1rem;
        height: 8rem;
        border: 1px solid #ccc;
        background-image: url(../../images/common/swiper-arrow-gray.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 1.2rem;
        margin-top:0;
        opacity: 1 !important;
    }
    @media screen and (max-width:1023px) {
        padding:0 4rem;
        margin-bottom: 4rem;
        .swiper-slide {
            button {
                height: 5rem;
                font-size: 1.2rem;
            }
        }
        .swiper-button-next,
        .swiper-button-prev {
            width: 4.1rem;
            height: 5rem;
            background-size: 0.6rem;
        }
    }
}
.view-type-box-area {
    display:flex;
    gap:2rem;
    flex-wrap:wrap;
    .view-type-box-item {
        border:0.2rem solid #eee;
        border-radius:1rem;
        padding:4rem;
        width:calc((100% - 4rem) / 3);
    }
    .month-value {
        display:flex;
        gap:1rem;
        align-items:center;
        .month-number {
            font-size:5rem;
            font-weight:500;
            line-height:4rem;
            color:var(--black);
        }
        .month-value-en {
            font-size:1.8rem;
            line-height:2.6rem;
            color:var(--gray_800);
        }
    }
    .info-item-list {
        margin-top:4rem;
        display:flex;
        flex-direction:column;
        gap:2rem;
    }
    .info-item {
        width:100%;
        display:flex;
        gap:1.4rem;
        align-items:center;
        .info-state {
            min-width:8.8rem;
            height:3.2rem;
            display:flex;
            align-items:center;
            justify-content:center;
            font-weight:600;
            font-size:1.6rem;
            &[data-state="end"] {
                background-color:var(--black);
                color:var(--white);
            }
            &[data-state="ing"] {
                background-color:var(--orange);
                color:var(--white);
            }
            &[data-state="ready"] {
                background-color:var(--skyblue);
                color:var(--navy);
            }
        }
        .info-data {
            font-size:2rem;
            color:var(--black);
            font-weight:500;
            line-height:3.2rem;
        }
    }
    @media screen and (max-width:1023px) {
        gap:1rem;
        .view-type-box-item {
            width:100%;
            padding:1rem 1.5rem;
        }
        .month-value {
            gap:0.4rem;
            .month-number {
                font-size:3.2rem;
                line-height:4.8rem;
            }
            .month-value-en {
                font-size:1.3rem;
                line-height:2rem;
            }
        }
        .info-item-list {
            margin-top:0.8rem;
            gap:1rem;
            margin-bottom:1rem;
        }
        .info-item {
            gap:1rem;
            .info-state {
                min-width:7.6rem;
            }
            .info-data {
                font-size:1.6rem;
            }
        }
    }
}
.view-type-list-area {
    .view-type-list-item {
        border-bottom:1px solid var(--form_line);
        padding-bottom:4rem;
        display:flex;
        gap:3.6rem;
        padding-left:4rem;
        align-items:center;
        ~ .view-type-list-item {
            margin-top:4rem;
        }
    }
    .month-value {
        flex-shrink:0;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        min-width:10rem;
        align-self:flex-start;
        .month-number {
            font-size:5rem;
            font-weight:500;
            line-height:7.6rem;
            color:var(--black);
        }
        .month-value-en {
            font-size:1.8rem;
            line-height:2.6rem;
            font-weight:600;
            color:var(--gray_800);
        }
    }
    .info-item-list {
        flex:1;
        display:flex;
        flex-direction:column;
        gap:3rem;
    }
    .info-item {
        width:100%;
        display:flex;
        gap:4rem;
        align-items:center;
        .info-state {
            min-width:10.4rem;
            height:5.4rem;
            display:flex;
            align-items:center;
            justify-content:center;
            font-weight:600;
            font-size:2rem;
            &[data-state="end"] {
                background-color:var(--black);
                color:var(--white);
            }
            &[data-state="ing"] {
                background-color:var(--orange);
                color:var(--white);
            }
            &[data-state="ready"] {
                background-color:var(--skyblue);
                color:var(--navy);
            }
        }
        .info-data {
            display:flex;
            gap:6rem;
            align-items:center;
        }
        .info-data-name {
            font-size:3rem;
            color:var(--black);
            font-weight:500;
            line-height:3.6rem;
            word-break:keep-all;
        }
        .info-data-address {
            font-size:2.4rem;
            color:var(--black);
            font-weight:400;
            line-height:2.8rem;
            word-break:keep-all;
        }
        .info-item-site {
            margin-left:auto;
            .button-base {
                min-width:11.4rem;
            }
        }
    }
    @media screen and (max-width:1023px) {
        margin-top:-2rem;
        .view-type-list-item {
            flex-direction:column;
            align-items:flex-start;
            gap:1.6rem;
            padding-left:0;
            padding-bottom:2rem;
            ~ .view-type-list-item {
                margin-top:2rem;
            }
            .month-value {
                flex-direction:row;
                gap:0.4rem;
                justify-content:flex-start;
                .month-number {
                    order:1;
                    font-size:3.2rem;
                    line-height:4.8rem;
                }
                .month-value-en {
                    order:2;
                    font-size:1.3rem;
                }
            }
        }
        .info-item-list {
            width:100%;
        }
        .info-item {
            gap:1.5rem;
            flex-direction:column;
            align-items:flex-start;
            .info-state {
                min-width:7.6rem;
                height:3.6rem;
                font-size:1.6rem;
            }
            .info-data {
                flex-direction:column;
                align-items:flex-start;
                font-size:1.6rem;
                gap:0.4rem;
            }
            .info-data-name {
                font-size:2.4rem;
                line-height:2.8rem;
            }
            .info-data-address {
                font-size:1.5rem;
                line-height:1.8rem;
            }
            .info-item-site {
                width:100%;
                margin-top:0.5rem;
                .button-base {
                    min-height:3.6rem;
                    font-size:1.6rem;
                }
            }
        }
    }
    @media screen and (max-width:767px) {
        margin-top:-1rem;
    }
}
.notice-desc {
    margin-top:4rem;
    font-size:1.8rem;
    line-height:2.2rem;
    color:var(--gray_800);
    display:flex;
    align-items:center;
    gap:1rem;
    .ico-notice {
        flex-shrink:0;
    }
    @media screen and (max-width:1023px) {
        font-size:1.5rem;
        gap:0.5rem;
        margin-top:2rem;
        .ico-notice {
            width:2rem;
        }
    }
}
.ico-notice {
    aspect-ratio:25/30;
    width:2.5rem;
    display:block;
    background:url("../../images/common/ico-noti.svg") no-repeat 50% 50%;
    background-size:contain;
}
.admin-image {
    width:100%;
    margin-top:2rem;
    img {
        width:100%;
    }
    @media screen and (max-width:1023px) {
        margin-top:1rem;
    }
}