.mdl-section {
    position: relative;
    width: 100%;
}
/* tab base */
.mdl-tab {
    position: relative;
    width: 100%;
    display: flex;
    &.scrollbar-4 {
         overflow-x: auto;
     }
}
.scrollbar-4 {
    .mdl-tab-btn {
        min-width: 14rem;
        flex-shrink: 0;
    }
}
.mdl-tab-wrap {
    display: flex;
    width: 100%;
    gap: 0;
    justify-content: space-between;
}
.mdl-tab-btn {
    flex: 1;
    border: 0.1rem solid #CCD4FF;
    background-color: #F7F7FE;
    display: flex;
    justify-content: center;
    align-items: center;
    .mdl-tab-btn-text {
        font-weight: 400;
        color: #111;
    }
    &[data-selected=true] {
        color: #fff;
        border-bottom: 0;
        background-color: #fff;
        .mdl-tab-btn-text {
            font-weight: 700;
        }
    }
}
.mdl-tab-item {
    display: none;
    &[data-selected=true] {
        display: block;
    }
}
.mdl-tab-size-64 {
    padding: 0.8rem 1.6rem;
    border-top-left-radius: 2.4rem;
    border-top-right-radius: 2.4rem;
    min-height: 6.4rem;
}
.mdl-tab-text-24 {
    font-size: 2.4rem;
    line-height: 3.2rem;
}
.mdl-tab-text-16 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    word-break: keep-all;
}
@media (max-width: 700px) {
    .mdl-tab-size-64 {
        padding: 0.8rem 1.6rem;
        border-top-left-radius: 1.6rem;
        border-top-right-radius: 1.6rem;
        min-height: 4.8rem;
    }
    .mdl-tab-text-24 {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
    .mdl-tab-text-16 {
        font-size: 1.4rem;
        line-height: 2rem;
    }
}

/* acoo base */
.mdl-acco {
    width: 100%;
    position: relative;
    margin: 0;
    .mdl-acco-btn {
        display: inline-block;
        .mdl-acco-arrow {
            transform: rotate(-90deg);
        }
    }
}
.mdl-acco-head {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.mdl-acco-head-wrap {
    display: flex;
    width: auto;
    align-items: center;
}
.mdl-acco .mdl-form,
.mdl-acco-link {
    position: relative;
    z-index: 2;
}
.mdl-acco-btn {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    letter-spacing: 0;
    &::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
}
.mdl-acco-item[data-expanded="true"] {
    .mdl-acco-btn::after {
        transform: translate(0, -50%) rotate(180deg);
    }
}

.mdl-acco-body {
    position: relative;
    visibility: visible;
    transition: height 0.3s ease-in-out;
    height: 0;
    overflow: hidden;
    &.off {
        .mdl-acco-pnl-wrap {
            display: none;
        }
        &[aria-hidden=false] {
            .mdl-acco-pnl-wrap {
                display: block;
            }
        }
    }
}
.mdl-acco-wrap {
    position: relative;
    width: 100%;
}
.mdl-layer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
    display: none;
    overflow: hidden;
    padding: 1.6rem;
    &[data-layer-current=false] {
        .mdl-layer-dim {
            opacity: 0;
        }
    }
    &[data-state=show]{
        display: flex;
    }
    &[data-state=hide] {
        display: flex;
    }
    &[data-type=alert],
    &[data-type=modal] {
        .mdl-layer-wrap{
            animation-name: modal_show;
            animation-delay: 0.1s;
            animation-duration: 0.4s;
            animation-iteration-count: 1;
            animation-fill-mode: backwards;
        }
        &[data-state=hide] {
            .mdl-layer-dim {
                animation-name: dim_hide;
                animation-delay: 0.1s;
                animation-duration: 0.2s;
                animation-iteration-count: 1;
                animation-fill-mode: backwards;
            }
            .mdl-layer-wrap {
                animation-name: modal_hide;
                animation-delay: 0.1s;
                animation-duration: 0.2s;
                animation-iteration-count: 1;
                animation-fill-mode: backwards;
            }
        }
    }
    &[data-type=bottom] {
        padding: 0;
        align-items: flex-end;
        .mdl-layer-wrap {
            width: 100%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            animation-name: bottom_show;
            animation-delay: 0.1s;
            animation-duration: 0.3s;
            animation-iteration-count: 1;
            animation-fill-mode: backwards;
        }
        &[data-state=hide] {
            .mdl-layer-dim {
                animation-name: dim_hide;
                animation-delay: 0.1s;
                animation-duration: 0.3s;
                animation-iteration-count: 1;
                animation-fill-mode: backwards;
            }
            .mdl-layer-wrap {
                animation-name: bottom_hide;
                animation-delay: 0.1s;
                animation-duration: 0.3s;
                animation-iteration-count: 1;
                animation-fill-mode: backwards;
            }
        }
    }
    &[data-type=dropdown] {
        position: absolute;
        width: auto;
        height: auto;
        padding: 0;
        overflow: visible;
        .mdl-layer-wrap {
            animation-name: dropdown_show;
            animation-delay: 0.1s;
            animation-duration: 0.4s;
            animation-iteration-count: 1;
            animation-fill-mode: backwards;
        }
        &[data-state=hide]{
            .mdl-layer-wrap {
                animation-name: dropdown_hide;
                animation-delay: 0.1s;
                animation-duration: 0.2s;
                animation-iteration-count: 1;
                animation-fill-mode: backwards;
            }
        }
    }
    &[data-type=tooltip] {
        position: absolute;
        width: auto;
        height: auto;
        padding: 0;
        overflow: visible;
        .mdl-layer-wrap {
            padding: 1.6rem;
            border-radius: 0.8rem;
        }
        .mdl-layer-header {
            font-size: 1.3rem;
            font-weight: 700;
        }
        .mdl-layer-body {
            margin: 0;
            padding: 0;
            font-size: 1.2rem;
        }
        .mdl-layer-close,
        .mdl-layer-dim {
            display: none;
        }
        &[data-state=hide] {
            .mdl-layer-wrap {
                display: none;
            }
        }
    }
    &[data-type=select] {
        position: absolute;
        width: auto;
        height: auto;
        padding: 0;
        overflow: visible;
        z-index: 1000;
        .mdl-layer-header {
            display: none;
        }
        .mdl-layer-wrap {
            padding: 0.8rem 0;
            min-width: 0;
            max-height: 13.6rem;
            overflow-y: auto;
            border-radius: 0.8rem;
            width: 100%;
            animation-name: select_show;
            animation-delay: 0.1s;
            animation-duration: 0.4s;
            animation-iteration-count: 1;
            animation-fill-mode: backwards;
            &:hover :checked + .mdl-select-option {
                background-color: transparent;
            }
            ::-webkit-scrollbar {
                position: absolute;
                width: 8px;
                height: 12px;
                background-color: transparent;
            }
            ::-webkit-scrollbar-track {
                background-color: transparent;
            }
            ::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: .8rem;
                background-clip: padding-box;
                border: .3rem solid transparent;
            }
            ::-webkit-scrollbar-corner {
                background-color: transparent;
            }
        }
        .mdl-layer-body {
            margin: 0;
            padding: 0;
        }
        .mdl-select-option {
            display: flex;
            min-height: 3.2rem;
            padding: 0 1.6rem;
            align-items: center;
            &:active,
            &:hover {
                background-color: var(--gray_20) !important;
            }
            &::before {
                display: none;
            }
            .mdl-select-option-text {
                font-size: 1.4rem;
            }
        }
        :checked {
            + .mdl-select-option {
                background-color: var(--gray_20);
            }
            + .mdl-select-option span {
                font-weight: 700;
            }
        }
        .mdl-layer-dim {
            display: none;
        }
        &[data-state=hide] {
            .mdl-layer-wrap {
                animation-name: select_hide;
                animation-delay: 0.1s;
                animation-duration: 0.2s;
                animation-iteration-count: 1;
                animation-fill-mode: backwards;
            }
        }
    }
    &[data-type=toast] {
        position: fixed;
        width: 100%;
        height: 0;
        padding: 0;
        overflow: visible;
        bottom: 0;
        top: auto;
        .mdl-layer-header {
            display: none;
        }
        .mdl-layer-wrap {
            background-color: var(--gray_100);
            color: var(--gray_0);
            padding: 1.6rem;
            min-width: 0;
            border-radius: 0.8rem;
            position: absolute;
            bottom: 0;
            transform: translate(0, 20vh);
        }
        .mdl-layer-body {
            margin: 0;
            padding: 0;
        }
        .mdl-layer-dim {
            display: none;
        }
        &[data-layer-current=true][data-state=hide] {
            .mdl-layer-wrap {
                transform: translate(0, -1.2rem);
            }
        }
        &[data-state=show] {
            .mdl-layer-wrap {
                animation-name: toast_show;
                animation-delay: 0.1s;
                animation-duration: 0.3s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
        }
        &[data-state=hide] {
            .mdl-layer-wrap {
                animation-name: toast_hide;
                animation-delay: 0.1s;
                animation-duration: 0.3s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
        }
    }
}
.mdl-layer-dim {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.8);
    animation-name: dim_show;
    animation-delay: 0.1s;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}
.mdl-layer-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 44rem;
    background-color: #fff;
    border-radius: 3.2rem;
    box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.4);
    z-index: 1;
    max-width: 100%;
    border: 1px solid #E3E2F2
}
.mdl-layer-header {
    position: relative;
    min-height: 8.4rem;
    width: 100%;
    padding: 1.6rem 2.4rem;
    display: flex;
    align-items: center;
    border-bottom: .1rem solid #E3E2F2;
    font-size: 2.4rem;
    font-weight: 600;
    color: #343434;
    .mdl-layer-header-title {
        font-size: 2.4rem;
        width: 100%;
        text-align: center;
    }
}
.mdl-layer-body {
    position: relative;
    width: 100%;
    padding: 1.6rem 0;
    max-height: calc(100vh - 20rem);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        height: 1.2rem;
        width: 1.2rem;
    }
    &::-webkit-scrollbar-track {
        border-radius: 999em;
        background-color: transparent
    }
    &::-webkit-scrollbar-thumb {
        width: .4rem;
        border-radius: 999em;
        background-color: #D9D9D9;
        border: .4rem solid transparent;
        background-clip: content-box;
    }
    &::-webkit-scrollbar-button:vertical:end:decrement {
        display: block;
        width: 3rem;
    }
}
.mdl-layer-footer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.4rem;
    gap: 0;
    overflow: hidden;
    border-bottom-left-radius: 3.2rem;
    border-bottom-right-radius: 3.2rem;
    .btn-base {
        flex: 1;
        height: 6.4rem;
        font-size: 2rem;
        font-weight: 700;
        border-radius: 0;
        border: 0;
    }
    .btn-color-gray ~ .btn-color-gray {
        border-left: 1px solid #E3E2F2
    }
}
.mdl-layer-close {
    position: absolute;
    top: 50%;
    right: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    transform: translate(0, -50%);
}
.mdl-layer-last {
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: -4rem;
    left: 50%;
    margin-left: -1.5rem;
    background-color: var(--gray_100);
    color: var(--gray_0);
    border-radius: 50%;
    transition: bottom 0.2s ease-in, opacity 0.2s ease;
    opacity: 0;
    &:focus {
        bottom: 0.8rem;
        opacity: 1;
    }
}

[data-col="4"] {
    .mdl-layer[data-type=select] {
        position: fixed;
        width: 100% !important;
        height: 100% !important;
        top: 0 !important;
        left: 0 !important;
        align-items: flex-end !important;
        background-color: rgba(0, 0, 0, 0.6);
        .mdl-layer-wrap {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding: 2.4rem;
            animation-name: bottom_show;
            max-height: calc(100vh - 20rem);
        }
        &[data-state=hide] {
            .mdl-layer-wrap {
                animation-name: bottom_hide;
            }
        }
    }
}
@keyframes dim_show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dim_hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bottom_show {
    0% {
        opacity: 0;
        transform: translate(0, 14rem);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes bottom_hide {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, 14rem);
    }
}

@keyframes modal_show {
    0% {
        opacity: 0;
        transform: translate(0, 4rem);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes modal_hide {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, 4rem);
    }
}

@keyframes dropdown_show {
    0% {
        opacity: 0;
        transform: translate(0, 1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes dropdown_hide {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, 1rem);
    }
}

@keyframes select_show {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes select_hide {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.9);
    }
}

@keyframes toast_show {
    0% {
        transform: translate(0, 20vh);
    }
    100% {
        transform: translate(0, -1.2rem);
    }
}

@keyframes toast_hide {
    0% {
        transform: translate(0, -1.2rem);
    }
    100% {
        transform: translate(0, 20vh);
    }
}
.mdl-select select,
.mdl-select-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    outline: 0;
    margin: 0;
    color: #000;
    z-index: 1;
}
.mdl-select select {
    border: none;
}
.select-size-48 select {
    padding: 0 4.8rem 0 2.4rem;
    font-size: 1.6rem;
    height: 4.8rem
}
.select-size-48 .mdl-select-btn {
    border: 1px solid #CCD4FF;
    border-radius: 1.2rem;
    padding: 0 4.8rem 0 2.4rem;
    background-color: #fff;
    font-size: 1.6rem;
    height: 4.8rem;
}
.select-size-50 select {
    padding: 0 4.8rem 0 2rem;
    font-size: 1.6rem;
    height: 5rem
}
.select-size-50 .mdl-select-btn {
    border: 1px solid #fff;
    border-radius: .8rem;
    padding: 0 4.8rem 0 2rem;
    background-color: #fff;
    font-size: 1.6rem;
    height: 5rem;
    font-weight: 400;
}
.select-size-42-g select {
    padding: 0 4.8rem 0 1.2rem;
    font-size: 1.4rem;
    height: 4.2rem
}
.select-size-42-g .mdl-select-btn {
    border-radius: .8rem;
    padding: 0 4.8rem 0 1.2rem;
    background-color: #F4F4F4;
    font-size: 1.4rem;
    height: 4.2rem;
}
select:hover,
.mdl-select-btn:hover {
}
select[aria-expanded=true]::after,
.mdl-select-btn[aria-expanded=true]::after {
    content: "";
}
.mdl-select select::after,
.mdl-select .mdl-select-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}
.select-size-42-g select::after,
.select-size-42-g .mdl-select-btn::after {
    width: 1.4rem;
    height: .8rem;
    right: 2rem;
    background: url(../images/common/select-bullet-s.svg) no-repeat 50% 50% / 1.4rem;
}
.select-size-48 select::after,
.select-size-48 .mdl-select-btn::after {
    width: 1.2rem;
    height: .6rem;
    right: 2rem;
    background: url(../images/common/ico-select-arrow.svg) no-repeat 50% 50% / 1.2rem;
}
.select-size-50 select::after,
.select-size-50 .mdl-select-btn::after {
    width: 1.4rem;
    height: .8rem;
    right: 2rem;
    background: url(../images/common/select-bullet.svg) no-repeat 50% 50% / 1.4rem;
}
.mdl-select {
    position: relative;
}
.mdl-select select {
    position: relative;
    width: auto;
    z-index: -1;
    border: 1px solid transparent;
}
.mdl-select-btn {
    position: absolute;
    top: 0;
    left: 0;
}
select[class] {
    position: relative;
    cursor: pointer;
}
select.inp-base {
    padding: 0 1rem;
}
input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
input[type=date] {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
}
input[type=radio],
input[type=checkbox] {
    opacity: 0;
    filter: alpha(opacity=0);
    display: inline-block;
    position: absolute;
    z-index: -1;
    vertical-align: top;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
}
.mdl-selection {
    position: relative;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    min-height: 4rem;
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
    cursor: pointer;
    line-height: 1;
}
.mdl-selection span {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    border-bottom: 1px solid transparent;
}
.mdl-selection::before {
    content: "";
    display: block;
    flex: 0;
    min-width: 2rem;
    min-height: 2rem;
    margin-right: 0.5rem;
    border: 0.2rem solid var(--gray_90);
    transition: box-shadow 0.5s, border 0.3s;
}
.mdl-selection:hover::before {
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
}
.mdl-selection:focus::before {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7);
}
.mdl-selection[data-type=radio]::before {
    border-radius: 50%;
}
.mdl-selection[data-type=checkbox]::before {
    border-radius: 0.3rem;
}
.mdl-selection[data-type=switch] {
    position: relative;
    padding-left: 4.4rem;
    font-size: 1.4rem;
    align-items: center;
}
.mdl-selection[data-type=switch]::before {
    content: "";
    display: block;
    min-width: 4rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: #BDBDBD;
    border: 0;
    position: relative;
    top: 0;
    transform: translate(0, 0);
    transition: all 0.2s ease-in;
}
.mdl-selection[data-type=switch]::after {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: var(--gray_0);
    box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.2s ease-in;
    opacity: 1;
}
input:checked + .mdl-selection::before {
    border: 0.6rem solid var(--gray_90);
    color: var(--gray_90);
}
input:disabled + .mdl-selection {
    opacity: 0.3;
    filter: alpha(opacity=30);
    cursor: not-allowed;
}
input:checked + .mdl-selection[data-type=switch]::before {
    background-color: var(--gray_100);
    opacity: 0.5;
}
input:checked + .mdl-selection[data-type=switch]::after {
    box-shadow: -0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.1);
    transform: translate(2rem, -50%);
    background-color: var(--gray_100);
}
input:disabled + .mdl-selection[data-type=switch] {
    opacity: 0.3;
}
.mdl-selection-wrap {
    display: flex;
    gap: .8rem
}
.mdl-selection[data-type="button"] {
    height: 4rem;
    border-radius: 4rem;
    padding: 0 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: #fff;
    background-color: #8491D5;
}
.mdl-selection[data-type="button"] span {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mdl-selection[data-type="button"]::before {
    display: none;
}
input:checked + .mdl-selection[data-type="button"] {
    background-color: #3E3F4D;
}
/* ui file */
.mdl-file {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.8rem;
}
.mdl-file input:active + .btn-base,
.mdl-file input:hover + .btn-base,
.mdl-file input:focus + .btn-base {
    border: 1px solid #616161;
    background: #FAFAFA;
}
.mdl-file-inp {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    direction: ltr;
    cursor: pointer;
    font-size: 1.2rem;
    z-index: 1;
}
.mdl-file-list {
    position: relative;
    padding: 0 3.2rem 0 0.8rem;
    min-height: 4rem;
    margin-top: 0;
    display: none;
}
.mdl-file-list.on {
    display: block;
}
.mdl-file-list ul {
    padding: 0;
    margin: 0;
}
.mdl-file-list li {
    position: relative;
    padding: 0.8rem 3.2rem 0 0;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid #EEEEEE;
}
.mdl-file-list img {
    height: 3rem;
    margin-right: 0.5rem;
}
.mdl-file-list .mdl-file-del {
    position: absolute;
    right: 0.5rem;
    top: 1rem;
    line-height: 1;
}
.mdl-file-list .mdl-file-del::after {
    content: "clear";
    display: block;
    width: 2rem;
    height: 2rem;
    font-family: "Material Icons";
    font-feature-settings: "liga";
    font-weight: 600;
    font-size: 2rem;
    color: var(--gray_80);
}
/* 말줄임 */
[data-ellipsis] {
    text-overflow: ellipsis;
    overflow: hidden;
}
[data-ellipsis="1"] {
    white-space: nowrap;
    word-break: break-all;
}
[data-ellipsis="2"] {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
[data-ellipsis="3"] {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
} 