.mdl-tab {
    position: relative;
    width: 100%;
    display: flex;
    overflow-x: auto;

    &-wrap {
        display: flex;
        gap: 0.8rem;
    }

    &-btn {
        border: .1rem solid #555;
        padding: 0.8rem 1.6rem;
        border-radius: 0.8rem;
        white-space: nowrap;

        &[data-selected="true"] {
            background-color: #fff;
            color: #000;
        }
    }

    &-item {
        display: none;

        &[data-selected="true"] {
            display: block;
        }
    }
}