@charset "utf-8";

.button-base {
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    border:1px solid transparent;
    text-decoration:none;
    /*&:focus {
        text-decoration:underline;
        text-underline-offset:0.3rem;
    }*/
    &[data-style="bg-primary"] {
        background-color:var(--navy);
        color:var(--white);
        border-color:var(--navy) ;
    }
    &[data-style="bg-dark"] {
        background-color:var(--gray_300);
        color:var(--white);
        border-color:var(--gray_300) ;
    }
    &[data-style="bg-sky-blue"] {
        background-color:var(--skyblue);
        color:var(--navy);
        border-color:var(--skyblue) ;
    }
    &[data-style="line-primary"] {
        color:var(--black);
        border-color:var(--navy);
        background-color:var(--white);
        &[data-state="selected"] {
            background-color:var(--navy);
            color:var(--white);
        }
    }

    &[data-icon="download"]::after {
        content:"";
        display:block;
        width:2.5rem;
        height:2.5rem;
        background:url(../../images/common/ico-download.svg) no-repeat 50% 50% / 2.5rem;
    }

    &[data-radius="radius-xs"] {
        border-radius:0.4rem;
    }
    &[data-size="size-60"] {
        min-width:20rem;
        min-height:6rem;
        font-size:1.8rem;
        font-weight:500;
        padding:0.8rem 1.6rem;
        gap:2rem;
        @media screen and (max-width:1023px) {
            flex:1;
            gap:1rem;
            font-size:1.6rem;
            height:5rem;
            padding:0.4rem 1rem;
            min-width:0;
            min-height:5rem;
        }
    }
    &[data-size="size-40"] {
        /* min-width:12rem; */
        min-height:4rem;
        font-size:1.8rem;
        font-weight:500;
        padding:0.4rem 1.2rem;
        gap:0.4rem;
        @media screen and (max-width:1023px) {
            min-width:8.6rem;
            font-size:1.4rem;
            padding:0.2rem 0.4rem;
            .form-group & {
                min-height:3rem;
            }
        }
    }
}
.btn-area-center {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:2rem;
    width:100%;
    gap:2rem;
    &.mt-80 {
        margin-top:8rem;
    }
    @media (max-width:1023px) {
        gap:1.5rem;
        &.mt-80 {
            margin-top:4rem;
        }
        &.flex-none {
            .button-base {
                flex:none;
                min-width:15rem;
            }
        }
    }
}
.sub-depth-list {
    display:flex;
    align-items:center;
    gap:1rem;
    margin-bottom:4rem;
    .sub-depth-list-wrap {
        display:flex;
        gap:1rem;
        width:100%;
    }
    .button-base {
        min-width:0;
        flex:1;
    }
    @media screen and (max-width:1023px) {
        .sub-depth-list-wrap {
            gap:0.5rem;
            flex-wrap:wrap;
        }
        .button-base {
            width:calc((100% - 0.5rem) / 2);
            font-size:1.4rem;
            line-height:1.6rem;
            flex:none;
            text-align:center;
            word-break:keep-all;
        }
    }
}