@charset "utf-8";

.button-base {
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    border:.1rem solid transparent;
    text-decoration:none;
    /*&:focus {
        text-decoration: underline;
        text-underline-offset: .3rem;
    }*/
    &[data-style="bg-primary"] {
        background-color: var(--navy);
        color:var(--white);
        border-color: var(--navy) ;
    }
    &[data-style="bg-dark"] {
        background-color: var(--gray_300);
        color:var(--white);
        border-color: var(--gray_300) ;
    }
    &[data-style="bg-sky-blue"] {
        background-color: var(--skyblue);
        color: var(--navy);
        border-color: var(--skyblue) ;
    }
    &[data-style="line-primary"] {
        color:var(--black);
        border-color: var(--navy);
        background-color:var(--white);
        &[data-state="selected"] {
            background-color:var(--navy);
            color:var(--white);
        }
    }
    &[data-radius="radius-xs"] {
        border-radius:.4rem;
    }
    &[data-size="size-60"] {
        min-width:20rem;
        min-height:6rem;
        font-size:1.8rem;
        font-weight:500;
        padding:.8rem 1.6rem;
        gap:2rem;
        @media (max-width:1023px) {
            gap:1rem;
        }
    }
    &[data-size="size-40"] {
        min-width:12rem;
        min-height:4rem;
        font-size:1.8rem;
        font-weight:500;
        padding:.4rem;
        @media (max-width:1023px) {
            min-width:8.6rem;
            font-size:1.4rem;
        }
    }
}
.btn-area-center {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:2rem;
    width:100%;
}