@charset "utf-8";
::placeholder {
    color:var(--form_line);
}

.form-input {
    height:4rem;
    padding:0 1.2rem;
    font-size:1.8rem;
    border:1px solid var(--form_line);
    width:100%;
    &:focus {
        border-color:var(--black);
    }
    @media screen and (max-width:1023px) {
        height:3rem;
        min-height:3rem;
        padding:0 0.4rem;
        font-size:1.5rem;
    }

    &[type="date"] {
        position:relative;
        width:100%;
        background:#fff url(../../images/common/ico-date.svg) no-repeat right 1.2rem top 0.4rem / 2.5rem;
        padding-right:4rem;
        &::-webkit-calendar-picker-indicator {
            position:absolute; 
            left:0;
            top:0;
            width:100%;
            height:100%;
            background:transparent;  
            color:transparent;  
            cursor:pointer;
        }
        @media screen and (max-width:1023px) {
            padding-right:3rem;
            background-position:right 1rem top 0.6rem;
            background-size:1.25rem;
        }
    }
}
.choice-item {
    display:flex;
    align-items:flex-start;
    gap:1rem;
    @media screen and (max-width:1023px) {
        gap:0.4rem;
    }
    .form-checkbox {
        flex-shrink:0;
        margin:0;
        width:2.4rem;
        height:2.4rem;
        position:relative;
        border:1px solid var(--gray_300);
        background-color:var(--white);
        &:checked {
            border-color:var(--orange);
            background-color:var(--orange);
            &:before {
                content:'';
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%, -50%);
                display:block;
                aspect-ratio:18/13;
                width:1.8rem;
                background:url("../../images/common/ico-check.svg") no-repeat 50% 50%;
                background-size:contain;
            }
        }
        @media screen and (max-width:1023px) {
            width:1.6rem;
            height:1.6rem;
            &:checked:before {
                width:1rem;
            }
        }
    }
    .form-radio {
        flex-shrink:0;
        margin:0;
        width:2.4rem;
        height:2.4rem;
        position:relative;
        border:0.1rem solid var(--form_line);
        background-color:var(--white);
        border-radius:999em;
        &:checked {
            border-color:var(--orange);
            background-color:var(--orange);
            &:before {
                content:'';
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%, -50%);
                background-color:var(--white);
                border-radius:999em;
                display:block;
                aspect-ratio:1/1;
                width:0.8rem;
            }
        }
        @media screen and (max-width:1023px) {
            width:1.6rem;
            height:1.6rem;
            &:checked:before {
                width:0.6rem;
            }
        }
    }
    label {
        color:var(--gray_300);
        line-height:2.4rem;
        font-size:2rem;
        font-weight:500;
        @media screen and (max-width:1023px) {
            font-size:1.5rem;
            line-height:1.6rem;
        }
    }
}

select {
    position:relative;
    display:inline-flex;
    align-items:center;
    justify-content:flex-start;
    width:100%;
    border:none;
    background-color:var(--white);
    height:4rem;
    padding:0 3rem 0 1rem;
    outline:0;
    margin:0;
    color:#333;
    font-size:1.8rem;
    z-index:1;
    @media screen and (max-width:1023px) {
        height:3rem;
        font-size:1.5rem;
    }
}
.form-select-btn {
    position:relative;
    display:inline-flex;
    align-items:center;
    justify-content:flex-start;
    width:100%;
    border:1px solid var(--form_line);
    background-color:var(--white);
    height:4rem;
    padding:0 3rem 0 1rem;
    outline:0;
    margin:0;
    color:#333;
    font-size:1.8rem;
    z-index:1;
    span {
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap;
        word-break:break-all;
    }
    [data-device="mobile"] & {
        pointer-events:none;
    }
    &:hover {
        border:1px solid #ccc;
    }
    &[aria-expanded="true"]::after {
        transform:translateY(50%);
        rotate:180deg;
    }
    &::after {
        content:"";
        position:absolute;
        right:1rem;
        top:50%;
        transform:translateY(-50%);
        display:block;
        aspect-ratio:5/9;
        width:.9rem;
        background-image:url("../../images/common/ico-select.svg");
        background-position:50% 50%;
        background-repeat:no-repeat;
        background-size:contain;
    }
    @media screen and (max-width:1023px) {
        height:3rem;
        font-size:1.5rem;
    }
}
.form-select {
    display: inline-flex;
    position:relative;
    select {
        position:relative;
        width:100%;
        z-index:0;
        &:focus + .form-select-btn {
            border:1px solid #ccc;
        }
    }
    .form-select-btn {
        position:absolute;
        top:0; 
        left:0;
    }
}