html[data-modal="show"] body {
    overflow-y:hidden;
    padding-right:1rem;
    .base-header {
        padding-right:5rem;
    }

    &::after {
        content:"";
        display:block;
        position:fixed;
        right:0;
        top:0;
        width:1rem;
        height:100%;
        background-color:#ccc;
        z-index:10;
    }
}
.layer-modal {
    position:fixed;
    width:100%;
    height:100%;
    top:0; 
    left:0;
    z-index:100;
    align-items:center;
    justify-content:center;
    display:none;
    overflow:hidden;
    padding:2.4rem;
    &[data-layer-current="false"] .layer-modal-dim {
        opacity:0;
    }
    &[data-state="show"] {
        display:flex;
    }
    &[data-state="hide"] {
        display:flex;
    }
    .layer-modal-dim {
        position:absolute;
        width:100%;
        height:100%;
        z-index:0;
        background-color:rgba(0,0,0,0.8);
        animation-name:dim_show;
        animation-delay:0.1s;
        animation-duration:0.3s;
        animation-iteration-count:1;
        animation-fill-mode:backwards;
    }
    .layer-modal-wrap {
        position:relative;
        display:flex;
        flex-direction:column;
        padding:0 2rem;
        min-width:30rem;
        background-color:#fff;
        box-shadow:0 0.8rem 1.6rem rgba(0,0,0,0.4);
        z-index:1;

        @media screen and (max-width:1023px) {
            padding:0 1rem;
        }
    }
    .layer-modal-header {
        position:relative;
        width:100%;
        display:flex;
        align-items:center;
        min-height:10.8rem;
        padding:0.8rem 2rem 0;
        justify-content:space-between;
        border-bottom:0.2rem solid #000;

        @media screen and (max-width:1023px) {
            padding:0 1rem;
            min-height:6.4rem;
        }
    }
    .layer-modal-title {
        font-size:3rem;
        font-weight:600;
        @media screen and (max-width:1023px) {
            font-size:2rem;
        }
    }
    .layer-modal-subject {
        width:100%;
        text-align:center;
        font-size:2.8rem;
        line-height:1.5;
        font-weight:500;

        @media screen and (max-width:1023px) {
            font-size:1.6rem;
        }
    }
    .layer-modal-close {
        position:relative;
        display:block;
        width:3rem;
        height:3rem;
        z-index:10;
        background:url(../../images/common/ico-nav-close.svg) no-repeat 50% 50% / 2.2rem;

        @media screen and (max-width:1023px) {
            width:2.2rem;
            height:2.2rem;
        }
    }

    .layer-modal-body {
        position:relative;
        width:100%;
        padding:6rem 2rem 0;
        max-height:calc(100vh - 35rem);
        overflow-y:auto;

        .table-input {
            border:0;
            display:flex;
            justify-content:center;
            margin-top:-3rem;
            table {
                width:auto;
            }
        }
        &[data-gap="M"] {
            display:flex;
            flex-direction:column;
            gap:4rem;
            > * {width:100%;}
            @media screen and (max-width:1023px) {
                gap:2rem;
                padding:3rem 0 0;
            }
        }
        @media screen and (max-width:1023px) {
            padding:2rem 2rem 0;
            .table-input {
                margin-top:0;
                .col-th {
                    width:12rem;
                }
            }
        }
    }
    .layer-modal-footer {
        position:relative;
        width:100%;
        display:flex;
        align-items:center;
        justify-content:center;
        padding:4rem 2rem 6rem;
        gap:1.6rem;

        .button-base {
            max-width:20rem;
            padding:0 1.8rem;
        }

        @media screen and (max-width:1023px) {
            padding:2rem 2rem 3rem;
            gap:1rem;
        }
    }
    
    .layer-modal-last {
        width:3rem;
        height:3rem;
        position:fixed;
        bottom:-4rem; 
        left:50%;
        margin-left:-1.5rem;
        background-color:#fff;
        color:#000;
        border-radius:50%;
        transition:bottom 0.2s ease-in, opacity 0.2s ease;
        opacity:0;
        &:focus {
            bottom:0.8rem;
            opacity:1;
        }
    }

    &[data-size="LX"] {
        .layer-modal-wrap {
            width:100%;
            max-width:160rem;
        }
    }
    &[data-size="L"] {
        .layer-modal-wrap {
            width:100%;
            max-width:100rem;
        }
    }
    &[data-size="M"] {
        .layer-modal-wrap {
            width:100%;
            max-width:60rem;
        }
    }

    &[data-type="alert"],
    &[data-type="modal"] {
        .layer-modal-wrap {
            animation-name:modal_show;
            animation-delay:0.1s;
            animation-duration:0.4s;
            animation-iteration-count:1;
            animation-fill-mode:backwards;
        }
        &[data-state="hide"] {
            .layer-modal-dim {
                animation-name:dim_hide;
                animation-delay:0.1s;
                animation-duration:0.2s;
                animation-iteration-count:1;
                animation-fill-mode:backwards;
            }
            .layer-modal-wrap {
                animation-name:modal_hide;
                animation-delay:0.1s;
                animation-duration:0.2s;
                animation-iteration-count:1;
                animation-fill-mode:backwards;
            }
        }
    }
    &[data-type="bottom"] {
        padding:0;
        align-items:flex-end;
        .layer-modal-wrap {
            width:100%;
            border-bottom-left-radius:0;
            border-bottom-right-radius:0;
            animation-name:bottom_show;
            animation-delay:0.1s;
            animation-duration:0.3s;
            animation-iteration-count:1;
            animation-fill-mode:backwards;
        }
        &[data-state="hide"] {
            .layer-modal-dim {
                animation-name:dim_hide;
                animation-delay:0.1s;
                animation-duration:0.3s;
                animation-iteration-count:1;
                animation-fill-mode:backwards;
            }
            .layer-modal-wrap {
                animation-name:bottom_hide;
                animation-delay:0.1s;
                animation-duration:0.3s;
                animation-iteration-count:1;
                animation-fill-mode:backwards;
            }
        }
    }
    &[data-type="dropdown"] {
        position:absolute;
        width:auto;
        height:auto;
        padding:0;
        overflow:visible;
        .layer-modal-wrap {
            animation-name:dropdown_show;
            animation-delay:0.1s;
            animation-duration:0.4s;
            animation-iteration-count:1;
            animation-fill-mode:backwards;
        }
        &[data-state="hide"] {
            .layer-modal-wrap {
                animation-name:dropdown_hide;
                animation-delay:0.1s;
                animation-duration:0.2s;
                animation-iteration-count:1;
                animation-fill-mode:backwards;
            }
        }
        .layer-modal-dim {display:none;}
    }
    &[data-type="tooltip"] {
        position:absolute;
        width:auto;
        height:auto;
        padding:0;
        overflow:visible;
        .layer-modal-wrap {
            padding:1.6rem;
            border-radius:0.8rem;
        }
        .layer-modal-header {
            font-size:1.3rem;
            font-weight:700;
        }
        .layer-modal-body {
            margin:0;
            padding:0;
            font-size:1.2rem;
        }
        .layer-modal-close,
        .layer-modal-dim {
            display:none;
        }
        &[data-state="hide"] .layer-modal-wrap {
            display:none;
        }
    }
    &[data-type="select"] {
        position:absolute;
        width:auto;
        height:auto;
        padding:0;
        overflow:visible;
        transform:translateY(-.1rem);
        z-index:200;
        input[type="radio"], 
        input[type="checkbox"] {
            opacity:0;
            filter:alpha(opacity = 0);
            display:inline-block;
            position:absolute;
            z-index:-1;
            vertical-align:top;
            appearance:none;
            -moz-appearance:none;
            -webkit-appearance:none;
            margin:0;
        }
        .layer-modal-header {
            display:none;
        }
        .layer-modal-wrap {
            padding:0;
            width:100%;
            min-width:0;
            max-height:calc(4rem * 7);
            overflow-y:auto;
            border-radius:0;
            border:1px solid #ccc;
            border-top-color:#fff;
            box-shadow:none;
            &:hover :checked + .form-select-option {
                background-color:transparent;
            }
        }
        .layer-modal-body {
            margin:0;
            padding:0;
        }
        :checked + .form-select-option {
            background-color:var(--skyblue);
        }
        .form-select-option {
            display:flex;
            min-height:4rem;
            padding:0 1rem;
            align-items:center;
            font-size:1.8rem;
            &:active,
            &:hover {
                background-color:var(--skyblue) !important;
            }
            &::before {
                display:none;
            }
            span {
                font-size:1.8rem;
            }
            @media screen and (max-width:1023px) {
                font-size:1.5rem;
                min-height:3rem;
                span {
                    font-size:1.5rem;
                }
            }
        }
        .layer-modal-dim {
            display:none;
        }
        .layer-modal-wrap {
            animation-name:select_show;
            animation-delay:0.1s;
            animation-duration:0.4s;
            animation-iteration-count:1;
            animation-fill-mode:backwards;
        }
        &[data-state="hide"] {
            .layer-modal-wrap {
                animation-name:select_hide;
                animation-delay:0.1s;
                animation-duration:0.2s;
                animation-iteration-count:1;
                animation-fill-mode:backwards;
            }
        }
    }
    &[data-type="toast"] {
        position:fixed;
        width:100%;
        height:0;
        padding:0;
        overflow:visible;
        bottom:0;
        top:auto;
        .layer-modal-header {
            display:none;
        }
        .layer-modal-wrap {
            background-color:#fff;
            color:#000;
            padding:1.6rem;
            min-width:0;
            border-radius:0.8rem;
            position:absolute;
            bottom:0;
            transform:translate(0, 20vh);
        }
        .layer-modal-body {
            margin:0;
            padding:0;
        }
        .layer-modal-dim {
            display:none;
        }
        &[data-layer-current="true"][data-state="hide"] {
            .layer-modal-wrap {
                transform:translate(0, -1.2rem);
            }
        }
        &[data-state="show"] {
            .layer-modal-wrap {
                animation-name:toast_show;
                animation-delay:0.1s;
                animation-duration:0.3s;
                animation-iteration-count:1;
                animation-fill-mode:forwards;
            }
        }
        &[data-state="hide"] {
            .layer-modal-wrap {
                animation-name:toast_hide;
                animation-delay:0.1s;
                animation-duration:0.3s;
                animation-iteration-count:1;
                animation-fill-mode:forwards;
            }
        }
    }
    &.all-menu {
        padding:0;
        align-items:flex-start;
        height:100%;
        top:0;
        background-color:transparent;
        
        .layer-modal-wrap {
            background-color:var(--navy);
            padding:0;
            width:100%;
            border-radius:0;
            animation-name:top_show;
            animation-delay:0.1s;
            animation-duration:0.3s;
            animation-iteration-count:1;
            animation-fill-mode:backwards; 
        }
        .layer-modal-header {
            width:100%;
            height:12rem;
            background-color:#fff;
            display:flex;
            align-items:center;
            justify-content:center;
            padding:0 4rem;
            border:0;

            .layer-modal-header-wrap {
                position:relative;
                display:flex;
                width:100%;
                max-width:172rem;
                justify-content:space-between;
                align-items:center;
                padding-right:9.7rem;
            }
            .nav-dep1-link {
                color:#000 !important;
                font-size:2rem;
                font-weight:500;
            }
            .btn-nav-close {
                position:absolute;
                top:4rem;
                right:1rem;
                z-index:10;
                background:url(../../images/common/ico-nav-close.svg) no-repeat 50% 50% / 2.2rem;
            }
        }
        &[data-state="hide"] {
            .layer-modal-dim {
                animation-name:dim_hide;
                animation-delay:0.1s;
                animation-duration:0.3s;
                animation-iteration-count:1;
                animation-fill-mode:backwards;
            }
            .layer-modal-wrap {
                animation-name:top_hide;
                animation-delay:0.1s;
                animation-duration:0.3s;
                animation-iteration-count:1;
                animation-fill-mode:backwards;
            }
        }
        .layer-modal-body {
            margin:0 auto;
            width:100%;
            max-width:192rem;
            padding:4rem 0;
            height:auto;
            overflow:hidden;
            display:flex;
            justify-content:center;
            gap:4rem;
            .layer-modal-body-box {
                max-width:172rem;
                width:100%;
                display:flex;
                align-items:flex-start;
            }
            .banner-nav {
                aspect-ratio:400/429;
                max-width:40rem;
                width:23%;
                margin:0 2rem;
                flex-shrink:0;
                img {
                    object-fit:cover;
                    width:100%;
                    height:100%;
                }
            }  
            .base-nav {
                display:flex;
                align-items:flex-start;
                justify-content:flex-end;
                flex-direction:row;
                flex:1;
                .mdl-acco {
                    width:80%
                }
                .nav-dep1 {
                    width:20%;
                }
            }
            .mdl-acco {
                display:flex;
                align-items:flex-start;
            }
            .mdl-acco-head-wrap {
                width:100%; 
                display:flex; 
                justify-content:center;
            }
            .mdl-acco-item {
                flex:1;
                /*padding:0 7rem;*/
            }
            .nav-dep1-item {
                /*min-width:26rem;*/
                padding:0;
                width:100%;
            }
            .nav-dep1 {
                width:100%;
                height:auto;
                justify-content:flex-end;
            }
            .nav-dep2 {
                opacity:1; 
                padding-bottom:0;
            }
            .nav-dep2-link {
                color:#fff; 
                font-size:2rem; 
                font-weight:500; 
                opacity:0.5; 
                text-align:center;
                pointer-events:initial;
            }
            .nav-dep2-link:hover {
                opacity:1;
                text-decoration:underline;
                text-underline-offset:0.8rem;
            }
            .mdl-acco-btn {
                pointer-events:none;
            }
            .mdl-acco-body {
                height:auto;
            }
            .mdl-acco-tit,
            .nav-dep1-link {
                color:#fff;  
                text-align:center; 
                font-size:2.4rem; 
                padding:0;
                width:100%; 
                justify-content:center;
            }
            .nav-dep1-item.etc .nav-dep2 {
                padding-top:0;
                .nav-dep2-link { 
                    opacity:1;
                }
            }
        }

        @media screen and (max-width:1400px) {
            padding:0;
            align-items:flex-start;
            justify-content:flex-start;
            height:100%;
            top:0;
            background-color:transparent;

            .layer-modal-wrap {
                background-color:#fff;
                border-radius:0;
                height:100dvh;
                width:100%;
                max-width:34rem;

                animation-name:nav_show;
                animation-delay:0.1s;
                animation-duration:0.3s;
                animation-iteration-count:1;
                animation-fill-mode:backwards;
            }
            .layer-modal-header {
                height:8rem;
                background-color:var(--navy);
                padding:0 2rem;
                flex-shrink:0;

                .layer-modal-header-wrap {
                    max-width:100%;
                    justify-content:space-between;
                    align-items:center;
                    padding-right:0;

                    .logo {
                        background-image:url(../../images/common/logo.svg);
                        background-size:12.4rem 1.6rem;
                    }
                }
                .nav-dep1 {display:none !important;}
                .nav-dep1-link {
                    color:#000 !important;
                    font-size:2rem;
                    font-weight:500;
                }
                .btn-nav-close {
                    position:relative;
                    top:0 ;
                    right:0;
                    z-index:10;
                    background:url(../../images/common/ico-nav-close-dark.svg) no-repeat 50% 50% / 2.2rem;
                }
            }
            &[data-state="hide"] {
                .layer-modal-wrap {
                    animation-name:nav_hide;
                    animation-delay:0.1s;
                    animation-duration:0.3s;
                    animation-iteration-count:1;
                    animation-fill-mode:backwards;
                }
            }
            .banner-nav {display:none;}
        
            .layer-modal-body {
                margin:0 auto;
                width:100%;
                max-width:100%;
                flex:1;
                padding:0 0 4rem;
                overflow:hidden;
                overflow-y:auto;
                height:100%;
                max-height:100%;
                position:relative;
                
                .base-nav {
                    width:100%;
                    padding-top:6rem;
                    display:flex;
                    flex-direction:column-reverse;

                    .mdl-acco-head-wrap {
                        width:100%;
                    }
                }
                .mdl-acco-head {
                    height:auto;
                }
                .mdl-acco-body {
                    height:0;
                }
                .mdl-acco-btn {
                    pointer-events:inherit;
                }
                .mdl-acco {
                    padding:0 2rem;
                    flex-direction:column;
                    width:100% !important;
                }
                .mdl-acco-item {
                    padding:0;
                    width:100%;
                }
                .mdl-acco-wrap {
                    border-bottom:1px solid rgba(204, 204, 204, 0.5);
                }
                .nav-dep1 {
                    flex-direction:column;
                    width:100% !important;
                }
                .mdl-acco-tit {
                    position:relative;
                    display:flex;
                    justify-content:space-between;
                    color:#000;  
                    font-weight:500;
                    text-align:left; 
                    font-size:2rem; 
                    padding:2.8rem 0 1.8rem; 
                    width:100%; 
                    align-items:center;
                    border-bottom:1px solid rgba(204, 204, 204, 0.5);

                    &::after {
                        content:"";
                        display:block;
                        width:2.3rem;
                        height:2.3rem;
                        background:url(../../images/common/nav-acco-open.svg) no-repeat 50% 50% / 2.3rem;
                    }
                }
                .mdl-acco-head::after {
                    content:"";
                    display:block;
                    position:absolute;
                    bottom:0;
                    left:0;
                    width:0;
                    height:0.2rem;
                    background-color:var(--orange);
                    transition:width .3s ease-in;
                }
                .mdl-acco-item[data-expanded="true"] {
                    .mdl-acco-head::after {
                        width:100%;
                        transition:width .3s ease-in;
                    }
                    .mdl-acco-tit::after {
                        background-image:url(../../images/common/nav-acco-close.svg)
                    }
                }
                .nav-dep2-link {
                    color:#000;
                    font-size:1.6rem;
                    font-weight:500;
                    text-align:left;
                    padding:1rem 0;
                    opacity:1;
                }
                .nav-dep2 {
                    opacity:1; 
                    padding:0;
                    overflow:hidden;
                    display:flex;
                    flex-wrap:wrap;
                    flex-direction:column;
                    gap:0;
                    max-height:19rem;
                    height:100%;
                    margin:1.6rem 0;
                    transition:height 0.2s ease-in;
                }
                .nav-dep1-item.etc {
                    position:absolute;
                    top :-6rem;
                    left:0; 
                    width:100%;
                    height:6rem;
                    background-color:var(--skyblue);
                    
                    padding:0 2rem;
                    
                    .nav-dep2 {
                        margin:0;
                        display:flex;
                        justify-content:flex-end;
                        align-items:center;
                        width:100%;
                        height:100%;
                        gap:0;
                        flex-direction:row;
                    }
                    .nav-dep2-item {
                        display:flex;
                        align-items:center;
                    }
                    .nav-dep2-item:first-child::before {display:none;}
                    .nav-dep2-item::before {
                        content:"";
                        display:block;
                        width:1px;
                        height:1.3rem;
                        background-color:var(--navy);

                    }
                    .nav-dep2-link {
                        color:var(--navy); 
                        font-size:1.8rem; 
                        font-weight:500; 
                        opacity:1; 
                        padding:0 1rem;
                        text-align:center; 
                        pointer-events:initial;
                    }
                }
                .nav-dep1-item.etc .nav-dep2 {
                    padding-top:0;

                    .nav-dep2-link {opacity:1;}
                }
            }

        }
    }
    &.search {
        padding:0;
        align-items:flex-start;
        height:100%;
        top:0;
        background-color:transparent;
       
        .layer-modal-wrap {
            background-color:var(--navy);
            padding:0;
            width:100%;
            border-radius:0;
            animation-name:top_show;
            animation-delay:0.1s;
            animation-duration:0.3s;
            animation-iteration-count:1;
            animation-fill-mode:backwards; 
        }
        .layer-modal-header {
            width:100%;
            height:12rem;
            display:flex;
            align-items:center;
            justify-content:center;
            padding:0 4rem;
            border:0;
            .logo {
                background:url(../../images/common/logo.svg) no-repeat 0 0 / 21.2rem;
            }
            .layer-modal-header-wrap {
                position:relative;
                display:flex;
                width:100%;
                max-width:172rem;
                justify-content:space-between;
                align-items:center;
                /* padding-right:9.7rem; */
            }
           
            .btn-nav-close {
                top:0;
                right:1rem;
                z-index:10;
                background:url(../../images/common/ico-nav-close-dark.svg) no-repeat 50% 50% / 2.2rem;
            }
        }
        &[data-state="hide"] {
            .layer-modal-dim {
                animation-name:dim_hide;
                animation-delay:0.1s;
                animation-duration:0.3s;
                animation-iteration-count:1;
                animation-fill-mode:backwards;
            }
            .layer-modal-wrap {
                animation-name:top_hide;
                animation-delay:0.1s;
                animation-duration:0.3s;
                animation-iteration-count:1;
                animation-fill-mode:backwards;
            }
        }
        .layer-modal-body {
            margin:0 auto;
            width:100%;
            max-width:192rem;
            padding:0 0 14rem;
            height:auto;
            overflow:hidden;
            display:flex;
            justify-content:center;
            align-items:center;
            flex-direction:column;
            gap:4rem;
            font-size:3rem;
            color:#fff;
            font-weight:500;

            input {
                width:62.7rem;
                height:6rem;
                font-size:2.4rem;
                padding:0 4rem 0 1.6rem;
                color:#fff;
                background-color:transparent;
                border:0;
                border-bottom:0.2rem solid var(--orange);
            }
            .search-form {position:relative;}
            .btn-clear {
                position:absolute;
                right:5.2rem;
                bottom:1.9rem;
                width:2rem;
                height:2rem;
                border-radius:50%;
                background:#545A8E url(../../images/common/input-clear.svg) no-repeat 50% 50% / 1rem;
            }
            .btn-search {
                position:absolute;
                right:1rem;
                bottom:1.4rem;
                width:3rem;
                height:3rem;
                background:url(../../images/common/ico-search.svg) no-repeat 50% 50% / 1.6rem;
            }
        }

        @media screen and (max-width:1400px) {
            padding:0;
            align-items:flex-start;
            height:100%;
            top:0;
            background-color:transparent;
        
            .layer-modal-wrap {
                height:100%;
                background-color:var(--navy);
                padding:0;
                width:100%;
                border-radius:0;
            }
            .layer-modal-header {
                width:100%;
                height:8rem;
                padding:0 2rem;
                
                .logo {
                    width:12.3rem;
                    height:1.6rem;
                    background:url(../../images/common/logo.svg) no-repeat 0 0 / 12.3rem;
                }

                .layer-modal-header-wrap {
                    position:relative;
                    display:flex;
                    padding-right:0;
                }
            
                .btn-nav-close {
                    position:relative;
                    top:0;
                    right:0;
                    z-index:10;
                    background:url(../../images/common/ico-nav-close-dark.svg) no-repeat 50% 50% / 2.2rem;
                }
            }
            .layer-modal-body {
                display:flex;
                justify-content:center;
                align-items:center;
                height:100%;
                margin:0;
                padding:0 2rem;

                strong {
                    display:block; 
                    width:20rem; 
                    margin:0 auto; 
                    text-align:center;
                }

                input {
                    width:100%;
                    height:6rem;
                    font-size:2.4rem;
                    padding:0 4rem 0 1.6rem;
                    color:#fff;
                    background-color:transparent;
                    border:0;
                    border-bottom:0.2rem solid var(--orange);
                }
                .search-form {position:relative;}
                .btn-clear {
                    position:absolute;
                    right:5.2rem;
                    bottom:1.9rem;
                    width:2rem;
                    height:2rem;
                    border-radius:50%;
                    background:#545A8E url(../../images/common/input-clear.svg) no-repeat 50% 50% / 1rem;
                }
                .btn-search {
                    position:absolute;
                    right:1rem;
                    bottom:1.4rem;
                    width:3rem;
                    height:3rem;
                    background:url(../../images/common/ico-search.svg) no-repeat 50% 50% / 1.6rem;
                }
            }
        }
    }
}

[data-col="12"] {
   .base-nav .mdl-acco .mdl-acco-item .mdl-acco-body {height:auto !important;}
}

@keyframes nav_show {
    0% {transform:translate(-100dvw, 0);}
    100% {transform:translate(0, 0);}
}
@keyframes nav_hide {
    0% {transform:translate(0, 0);}
    100% {transform:translate(-100dvw, 0);}
}
@keyframes dim_show {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes dim_hide {
    0% {opacity:1;}
    100% {opacity:0;}
}
@keyframes top_show {
    0% {opacity:0; transform:translate(0, -14rem);}
    100% {opacity:1; transform:translate(0, 0);}
}
@keyframes top_hide {
    0% {opacity:1; transform:translate(0, 0);}
    100% {opacity:0; transform:translate(0, -14rem);}
}
@keyframes bottom_show {
    0% {opacity:0; transform:translate(0, 14rem);}
    100% {opacity:1; transform:translate(0, 0);}
}
@keyframes bottom_hide {
    0% {opacity:1; transform:translate(0, 0);}
    100% {opacity:0; transform:translate(0, 14rem);}
}
@keyframes modal_show {
    0% {opacity:0; transform:translate(0, 4rem);}
    100% {opacity:1; transform:translate(0, 0);}
}
@keyframes modal_hide {
    0% {opacity:1; transform:translate(0, 0);}
    100% {opacity:0; transform:translate(0, 4rem);}
}
@keyframes dropdown_show {
    0% {opacity:0; transform:translate(0, 1rem);}
    100% {opacity:1; transform:translate(0, 0);}
}
@keyframes dropdown_hide {
    0% {opacity:1; transform:translate(0, 0);}
    100% {opacity:0; transform:translate(0, 1rem);}
}
@keyframes select_show {
    0% {opacity:0; transform:translate(0, -0.8rem);}
    100% {opacity:1; transform:translate(0, 0);}
}
@keyframes select_hide {
    0% {opacity:1; transform:translate(0, 0);}
    100% {opacity:0; transform:translate(0, -0.8rem);}
}
@keyframes toast_show {
    0% {transform:translate(0, 20vh);}
    100% {transform:translate(0, -1.2rem);}
}
@keyframes toast_hide {
    0% {transform:translate(0, -1.2rem);}
    100% {transform:translate(0, 20vh);}
}