.mdl-tab {
    position: relative;
    width: 100%;
    display: flex;
    overflow-x: auto;

    .mdl-tab-wrap {
        display: flex;
        gap: 0;
        width: 100%;
        margin-bottom: 9rem;
    }

    .mdl-tab-btn {
        flex:1;
        border-bottom: .2rem solid #ccc;
        padding: 1.2rem 1.6rem;
        border-radius: 0;
        white-space: nowrap;
        background-color: #fff;
        font-size: 2.4rem;
        font-weight: 600;

        &[data-selected="true"] {
            border-color: #222;
        }
    }
}

.mdl-tab-item {
    display: none;

    &[data-selected="true"] {
        display: block;
    }
}