.mdl-tab {
    position: relative;
    width: 100%;
    display: flex;
    overflow-x: auto;

    .mdl-tab-wrap {
        display: flex;
        gap: 2rem;
        width: 100%;
        margin-bottom: 9rem;
    }

    .mdl-tab-btn {
        flex:1;
        border: .1rem solid #E8E8E8;
        padding: 0.8rem 1.6rem;
        border-radius: 0;
        white-space: nowrap;
        background-color: #fff;
        height: 9rem;
        font-size: 2.4rem;

        &[data-selected="true"] {
            background-color: #222;
            color: #fff;
        }
    }
}

.mdl-tab-item {
    display: none;

    &[data-selected="true"] {
        display: block;
    }
}